<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>AccountManagingBilling</title>
	<!--<meta http-equiv="refresh" content="1">-->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
	<style>
		.selected {
			background-color:green;
			color:white;
			font-weight:bold;
		}
	</style>
</head> 
<body>
	<script src="AccountBillingControler.js"></script>
	<div ng-app="accountBillingApp" ng-controller="accountControl">
		<div id="panelDetailsOfBilling" class="panel panel-success" style="border-bottom-color:white;">
			<div id="headingPanelIndicatorUtama" class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordionPanelDevelopmentIndicators" href="#collapseDetailsOfBilling">Billings</a>
				</h4>
			</div>
			
			<div id="collapseDetailsOfBilling" class="panel-body collapse in" style="padding:0px">
				<p></p>
				<form class="form-inline" ng-show="searchingDetailOfBilling">
					<div class="form-group">
						<label>Filter by: Customer</label>
						<input type="text" class="form-control" ng-model="search.Customer">
					</div>
					<div class="form-group">
						<label>Filter by: Accounting Period</label>
						<input type="text" class="form-control" ng-model="search.Period">
					</div>
					<p></p>
				</form>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>		
							<th style="border:none"><center></center></th>						
							<th style="border:none"><center></center></th>
							<th style="border:none"><center></center></th>
							<th style="background-color:Orange; color:white" colspan="4"><center>Periodical Business Transaction</center></th>
							<th style="border:none"><center></center></th>
						</tr>
						<tr style="background-color:MediumSeaGreen; color:white">
							<th>Billing#</th>
							<th ng-click="fungsiOrderByBillingDataField('Customer')"><center>Customer</center></th>
							<th ng-click="fungsiOrderByBillingDataField('Period')"><center>Accounting</center></th>
							<th ng-click="fungsiOrderByBillingDataField('NewBusinesFas')"><center>New Bussiness</center></th>
							<th ng-click="fungsiOrderByBillingDataField('RenewalFas')"><center>Renewal Bussiness</center></th>
							<th ng-click="fungsiOrderByBillingDataField('AlterationFas')"><center>Alteration</center></th>
							<th ng-click="fungsiOrderByBillingDataField('ClaimFas')"><center>Claim</center></th>
							<th><center>Grand Total</center></th>
							<th ng-show="false">Ceding Code</th>
						</tr>
					</thead>
					<tfoot style="background-color:DarkSalmon; color:white;">
						<tr ng-repeat="z in billingTData">
							<td style="border:none"></td>
							<td style="border:none"></td>
							<td style="border:none"><center>Sum</center></td>
							<td style="text-align: right">{{z.NewBusinesFas | currency: "": 2}}</td>
							<td style="text-align: right">{{z.RenewalFas | currency: "": 2}}</td>
							<td style="text-align: right">{{z.AlterationFas | currency: "": 2}}</td>
							<td style="text-align: right">{{z.ClaimFas | currency: "": 2}}</td>
							<td style="text-align: right">{{z.Transaction | currency: "": 2}}</td>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="y in billingData | filter:search | orderBy:billingOrderBy:reverse" ng-class="{'selected':$index == selectedRow}" ng-click="fungsiSetClickedRow($index)">
							<td ng-show="false">{{$index}}</td>
							<td>{{ y.BillingNumber}}</td>
							<td id="billingCustomer">{{y.Customer}}</td>
							<td id="billingPeriod">{{y.Period}}</td>
							<td id="billingNewBusinesFas" style="text-align: right" ng-click="nomorBilling=y.BillingNumber; fungsiColectCessieNewBusiness(nomorBilling)">
								<div id="panelDetailsOfCessieN" class="panel panel-success" style="padding:0px">
									<div class="panel-heading" id="headingPanelDetailsOfCessieN">
										<a data-toggle="collapse" data-parent="#accordionPanelDetailsOfCessieN" href="#N{{$index}}">{{y.NewBusinesFas | currency: "": 2}}</a>
									</div>
								</div>
								<div class="panel-body collapse" id="N{{$index}}" style="padding:0px; height=10%;">
									<table class="table table-hover table-bordered" style="background-color:#f1f1c1; color:black">
										<thead>
											<tr>													
												<th ng-click="fungsiOrderByNewBusinesDataField('ReinsuranceNumber')"><center>Reins#</center></th>
												<th ng-click="fungsiOrderByNewBusinesDataField('Currency')"><center>Ccy</center></th>
												<th ng-click="fungsiOrderByNewBusinesDataField('ReinsuranceNumber')"><center>Insured Name</center></th>
												<th ng-click="fungsiOrderByNewBusinesDataField('ReinsuranceNumber')"><center>Sum Insured</center></th>
												<th ng-click="fungsiOrderByNewBusinesDataField('ReinsuranceNumber')"><center>Transaction</center></th>
											</tr>
										</thead>
										<tfoot>
											<tr ng-repeat="nz in newBusinessTData">
												<td><center>Sum</center></td>
												<td>{{nz.Currency}}</td>
												<td></td>
												<td style="text-align: right">{{nz.TotalSumInsured | currency: "": 2}}</td>
												<td style="text-align: right">{{nz.TotalTransactionAmount | currency: "": 2}}</td>
											</tr>
										</tfoot>
										<tbody>																			
											<tr ng-repeat="ny in newBusinessData | orderBy:newBusinessOrderBy" ng-class="{'selected':$index1 == selectedRow}" ng-click="fungsiSetClickedRowN($index1)">
												<td ng-show="false">{{$index1}}</td>
												<td ng-click="nomorReas=ny.ReinsuranceNumber; fungsiBillingActivateMasterPolicyModal(nomorReas)">{{ny.ReinsuranceNumber}}</td>
												<td ng-click="fungsiBillingActivateMasterPolicyModal()">{{ny.Currency}}</td>
												<td ng-click="fungsiBillingActivateMasterPolicyModal()">{{ny.InsuredName}}</td>
												<td ng-click="fungsiBillingActivateMasterPolicyModal()" style="text-align: right">{{ny.SumInsured | currency: "": 2}}</td>		
												<td ng-click="fungsiBillingActivateMasterPolicyModal()" style="text-align: right">{{ny.TransactionAmount | currency: "": 2}}</td>
											</tr>
										</tbody>										
									</table>
								</div>
							</td>
							<td id="billingRenewalFas" style="text-align: right" ng-click="nomorBilling=y.BillingNumber; fungsiColectCessieRenewal(nomorBilling,$index)">
								<div id="panelDetailsOfCessieR" class="panel panel-info" style="padding:0px">
									<div class="panel-heading" id="headingPanelDetailsOfCessieR">
										<a data-toggle="collapse" data-parent="#accordionPanelDetailsOfCessieR" href="#R{{$index}}">{{y.RenewalFas | currency: "": 2}}</a>
									</div>
								</div>
								<div class="panel-body  collapse" id="R{{$index}}" style="padding:0px; height=10%;">
									<table class="table table-hover table-bordered" style="background-color:#f1f1c1; color:black">
										<thead>
											<tr>													
												<th ng-click="fungsiOrderByRenewalDataField('ReinsuranceNumber')"><center>Reins#</center></th>
												<th ng-click="fungsiOrderByRenewalDataField('Currency')"><center>Ccy</center></th>
												<th ng-click="fungsiOrderByRenewalDataField('InsuredName')"><center>Insured Name</center></th>
												<th ng-click="fungsiOrderByRenewalDataField('SumInsured')"><center>Sum Insured</center></th>
												<th ng-click="fungsiOrderByRenewalDataField('TransactionAmount')"><center>Transaction</center></th>
											</tr>
										</thead>
										<tfoot>
											<tr ng-repeat="rz in renewalTData">
												<td><center>Sum</center></td>
												<td>{{rz.Currency}}</td>
												<td></td>
												<td style="text-align: right">{{rz.TotalSumInsured | currency: "": 2}}</td>
												<td style="text-align: right">{{rz.TotalTransactionAmount | currency: "": 2}}</td>
											</tr>
										</tfoot>
										<tbody>																			
											<tr ng-repeat="ry in dataset | orderBy:myOrderBy:reverse" ng-class="{'selected':$index2 == selectedRow}" ng-click="fungsiSetClickedRowR($index2)">
												<td ng-show="false">{{$index2}}</td>
												<td>{{ry.ReinsuranceNumber}}</td>
												<td>{{ry.Currency}}</td>
												<td>{{ry.InsuredName}}</td>
												<td style="text-align: right">{{ry.SumInsured | currency: "": 2}}</td>		
												<td style="text-align: right">{{ry.TransactionAmount | currency: "": 2}}</td>
											</tr>
										</tbody>										
									</table>
								</div>
							</td>		
							<td id="billingAlterationFas" style="text-align: right" ng-click="nomorBilling=y.BillingNumber; fungsiColectCessieAlterations(nomorBilling)">
								<div id="panelDetailsOfCessieA" class="panel panel-warning" style="padding:0px">
									<div class="panel-heading" id="headingPanelDetailsOfCessieA">
										<a data-toggle="collapse" data-parent="#accordionPanelDetailsOfCessieA" href="#A{{$index}}">{{y.AlterationFas | currency: "": 2}}</a>
									</div>
								</div>
								<div class="panel-body  collapse" id="A{{$index}}" style="padding:0px; height=10%;">
									<table class="table table-hover table-bordered" style="background-color:#f1f1c1; color:black">
										<thead>
											<tr>													
												<th ng-click="fungsiOrderByAlterationDataField('ReinsuranceNumber')"><center>Reins#</center></th>
												<th ng-click="fungsiOrderByAlterationDataField('Currency')"><center>Ccy</center></th>
												<th ng-click="fungsiOrderByAlterationDataField('InsuredName')"><center>Insured Name</center></th>
												<th ng-click="fungsiOrderByAlterationDataField('SumInsured')"><center>Sum Insured</center></th>
												<th ng-click="fungsiOrderByAlterationDataField('TransactionAmount')"><center>Transaction</center></th>
											</tr>
										</thead>
										<tfoot>
											<tr ng-repeat="az in alterationTData">
												<td><center>Sum</center></td>
												<td>{{az.Currency}}</td>
												<td></td>
												<td style="text-align: right">{{az.TotalSumInsured | currency: "": 2}}</td>
												<td style="text-align: right">{{az.TotalTransactionAmount | currency: "": 2}}</td>
											</tr>
										</tfoot>
										<tbody>																			
											<tr ng-repeat="ay in alterationData | orderBy:alterationOrderBy" ng-class="{'selected':$index3 == selectedRow}" ng-click="fungsiSetClickedRowA($index3)">
												<td ng-show="false">{{$index3}}</td>
												<td>{{ay.ReinsuranceNumber}}</td>
												<td>{{ay.Currency}}</td>
												<td>{{ay.InsuredName}}</td>
												<td style="text-align: right">{{ay.SumInsured | currency: "": 2}}</td>		
												<td style="text-align: right">{{ay.TransactionAmount | currency: "": 2}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
							<td id="billingClaimFas" style="text-align: right" ng-click="nomorBilling=y.BillingNumber; fungsiColectCessieClaims(nomorBilling)">
								<div id="panelDetailsOfCessieC" class="panel panel-danger" style="padding:0px">
									<div class="panel-heading" id="headingPanelDetailsOfCessieC">
										<a data-toggle="collapse" data-parent="#accordionPanelDetailsOfCessieC" href="#C{{$index}}">{{y.ClaimFas | currency: "": 2}}</a>
									</div>
								</div>
								<div class="panel-body  collapse" id="C{{$index}}" style="padding:0px; height=10%;">
									<table class="table table-hover table-bordered" style="background-color:#f1f1c1; color: black;">
										<thead>
											<tr>													
												<th ng-click="fungsiOrderByClaimDataField('ReinsuranceNumber')"><center>Reins#</center></th>
												<th ng-click="fungsiOrderByClaimDataField('Currency')"><center>Ccy</center></th>
												<th ng-click="fungsiOrderByClaimDataField('InsuredName')"><center>Insured Name</center></th>
												<th ng-click="fungsiOrderByClaimDataField('SumInsured')"><center>Sum Insured</center></th>
												<th ng-click="fungsiOrderByClaimDataField('TransactionAmount')"><center>Transaction</center></th>
											</tr>
										</thead>
										<tfoot>
											<tr ng-repeat="cz in claimsTData">
												<td><center>Sum</center></td>
												<td>{{cz.Currency}}</td>
												<td></td>
												<td style="text-align: right">{{cz.TotalSumInsured | currency: "": 2}}</td>
												<td style="text-align: right">{{cz.TotalTransactionAmount | currency: "": 2}}</td>
											</tr>
										</tfoot>
										<tbody>																			
											<tr ng-repeat="cy in claimData | orderBy:claimOrderBy" ng-class="{'selected':$index4 == selectedRow}" ng-click="fungsiSetClickedRowC($index4)">
												<td ng-show="false">{{$index4}}</td>
												<td>{{cy.ReinsuranceNumber}}</td>
												<td>{{cy.Currency}}</td>
												<td>{{cy.InsuredName}}</td>
												<td style="text-align: right">{{cy.SumInsured | currency: "": 2}}</td>		
												<td style="text-align: right">{{cy.TransactionAmount | currency: "": 2}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>	
							<td id="billingTotalFas" style="text-align: right">{{y.SubTotal | currency: "": 2}}</td>
							<td ng-show="false">{{ y.Code}}</td>
						</tr>
						<div class="modal fade in" id="masterPolicyModal">
							<div class="modal-dialog">   
								<div class="modal-content">
									<div class="modal-header" style="padding:20px;"> 
										<div class="media">
											<div class="media-left">
												<img src="/Gambar/Administration.jpg" class="media-object" style="width:90px;">
											</div>
											<div class="media-body">
												<h3 class="media-heading">Master Policy Detail of Reinsurance#</h3>
												<h3 class="media-heading" id="modalHeading">{{nomorUrutAgenda}}</h3>
											</div>
										</div>						
									</div>
									<div class="modal-body" style="padding:0px;">
										<!--<iframe src="MasterPolicyView.html" style="border:none; height: 650px; width:100%; border:hidden;"></iframe>-->
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
									</div>
								</div>  
							</div>
						</div>
					</tbody>
				</table>
			</div>
		</div>
		<div id="panelFinancialAccountStatement" class="panel panel-success" style="padding:0px" ng-init="listOfFas=false; listOfCsl=false; customerSubLedger=true;">
			<div class="panel-heading" id="headingPanelFinancialAccountStatement">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordionPanelDevelopmentIndicators" href="#collapseFinancialAccountStatement">Financial Account Statement</a>
				</h4>
			</div>
			<div class="panel-body collapse" id="collapseFinancialAccountStatement" style="padding:0px">
				<div class="btn-group btn-group-justified" ng-show="customerSubLedger">
					<div class="btn-group">
						<button type="button" class="btn btn-info" ng-click="fungsiListOfFAS()">List of FAS</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalShowCustomer" ng-click="fungsiCustomerSubLedger()">Customer Sub Ledger</button>
					</div>
				</div>	
				<table class="table table-hover table-bordered visible-xs" ng-show="listOfFas" >
					<thead>
						<tr style="background-color:MediumSeaGreen; color:white">
							<th>Customer</th>
							<th>Ending Balance</th>						
							<th ng-show="false">Code</th>
						</tr>
					</thead>
					<tbody id="provideFasDataContent">
						<tr ng-repeat="y in listFasData">													
							<td ng-click = "noClient = y.Code;fungsiShowFASDetail(noClient)" data-toggle="modal" data-target="#myModalFas">{{y.Customer}}</td>
							<td ng-click = "noClient = y.Code;fungsiShowFASDetail(noClient)" data-toggle="modal" data-target="#myModalFas">{{y.EndingBalance | currency: "": 2}}</td>				
							<td ng-show="false">{{ y.Code}}</td>
						</tr>
					</tbody>
				</table>
				<div class="csl visible-xs" ng-show="listOfCsl">
					<h4 id="judulCsl" ng-click="fungsiDeactivateFASButton()">CSL: {{selectedCustomer.Customer}}</h4>
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Period</th>
								<th>Begining Balance</th>						
								<th>Transaction</th>
								<th>Ending Balance</th>
							</tr>
						</thead>
						<tbody id="provideCSLDataContent">
							<tr ng-repeat="y in cslData">													
								<td ng-click = "noClient = y.Code;fungsiShowFASDetail(noClient)" data-toggle="modal" data-target="#myModalFas">{{y.Period}}</td>
								<td ng-click = "noClient = y.Code;fungsiShowFASDetail(noClient)" data-toggle="modal" data-target="#myModalFas">{{y.BeginingBalance | currency: "": 2}}</td>	
								<td ng-click = "noClient = y.Code;fungsiShowFASDetail(noClient)" data-toggle="modal" data-target="#myModalFas">{{y.Transaction | currency: "": 2}}</td>
								<td ng-click = "noClient = y.Code;fungsiShowFASDetail(noClient)" data-toggle="modal" data-target="#myModalFas">{{y.EndingBalance | currency: "": 2}}</td>				
							</tr>
						</tbody>
					</table>
				</div>
				<table class="table table-hover table-bordered hidden-xs">
					<p id="proses"></p>
					<thead ng-click="fungsiActivateButton()">
						<tr style="background-color:MediumSeaGreen; color:white">
							<th><center>FAS#</center></th>
							<th><center>Customer</center></th>
							<th><center>Accounting Period</center></th>
							<th><center>Begining Balance</center></th>
							<th><center>Current Transaction</center></th>
							<th><center>Your Payment</center></th>
							<th><center>Our Payment</center></th>
							<th><center>Ending Balance</center></th>
							<th ng-show="false"><center>Code</center></th>
						</tr>
					</thead>
					<tfoot style="background-color:DarkSalmon; color:white;">
						<tr ng-repeat="yy in listFasTotalData">
							<td style="border:none"></td>
							<td style="border:none"></td>
							<td style="border:none"></td>
							<td style="border:none"><center>Sum</center></td>
							<td style="text-align: right">{{yy.Transactions| currency: "": 2}}</td>
							<td style="text-align: right">{{yy.YourPayments | currency: "": 2}}</td>
							<td style="text-align: right">{{yy.OurPayments | currency: "": 2}}</td>
							<td style="text-align: right">{{yy.EndingBalances | currency: "": 2}}</td>
						</tr>
					</tfoot>
					<tbody id="provideDataContent">
						<tr ng-repeat="y in listFasData">	
							<td id="fasNumber">{{y.FasNumber}}</td>
							<td id="fasCustomer">{{y.Customer}}</td>
							<td id="fasPeriod">{{y.AccountingPeriod}}</td>
							<td id="fasBeginingBalance" style="text-align: right">{{y.BeginingBalance | currency: "": 2}}</td>
							<td id="fasTransactionFas" style="text-align: right">{{y.Transaction | currency: "": 2}}</td>				
							<td id="fasYourPayment" style="text-align: right">
								<div id="panelDetailsOfCessieN" class="panel panel-success" style="padding:0px">
									<div class="panel-heading" id="headingPanelDetailsOfCessieN">
										<a data-toggle="collapse" data-parent="#accordionPanelDetailsOfCessieN" href="#N{{$index}}">{{y.YourPayment | currency: "": 2}}</a>
									</div>
								</div>
							</td>	
							<td id="fasOurPayment" style="text-align: right">{{y.OurPayment | currency: "": 2}}</td>				
							<td id="fasEndingBalance" style="text-align: right">{{y.EndingBalance | currency: "": 2}}</td>
							<td ng-show="false">{{ y.Code}}</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		<div class="modal fade" id="myModalFas" role="dialog">
			<div class="modal-dialog">   
				<div class="modal-content">
					<div class="modal-header" style="padding:20px 50px;">
						<h4 id="modalfasCustomer"></h4>							
					</div>
					<div class="modal-body" style="padding:40px 50px;">
						<p id="modalfasBeginingBalance"></p>
						<p id="modalfasNewBusinesFas"></p>
						<p id="modalfasRenewalFas"></p>
						<p id="modalfasAlterationFas"></p>
						<p id="modalfasClaimFas"></p>
						<p id="modalfasYourPayment"></p>
						<p id="modalfasOurPayment"></p>
						<p id="modalfasEndingBalance"></p>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
					</div>
				</div>  
			</div>
		</div>
		<div class="modal fade" id="myModalShowCustomer" role="dialog">
			<div class="modal-dialog">   
				<div class="modal-content">
					<div class="modal-header" style="padding:20px 0px;">
						<h4 ng-click = "fungsiColectAndShowCustomer()">Click here, then select customer</h4>							
					</div>
					<div class="modal-body" style="padding:40px 0px;">
						<select ng-model="selectedCustomer" ng-options="y.Customer for (x, y) in listCustomerData">
						</select>
						<!--<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Customer</th>
									<th ng-show="false">Code</th>
								</tr>
							</thead>
							<tbody id="showCustomer">
								<tr ng-repeat="y in listCustomerData">													
									<td ng-click = "customer = y.Customer;fungsiShowCustomer(customer)">{{y.Customer}}</td>
									<td ng-show="false">{{ y.Code}}</td>
								</tr>
							</tbody>
						</table>-->
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
					</div>
				</div>  
			</div>
		</div>
	</div>

	</div>
</body>
</html>