<!DOCTYPE html>
<html lang="en">
<head>
  <title>StuffAgendaTabel</title>
<!--<meta http-equiv="refresh" content="1">-->
</head> 
<body ng-init="showMeSearchBy=false; showMeAgendaTabel=true;">
	<div class="wadah" ng-show="showMeAgendaTabel">
	<div class="table-responsive">
		<div class="media">
			<div class="media-right">
				<img src="/Gambar/search-icon-64-22258053.png" class="media-object" style="width:40px;">
			</div>
			<div class="media-body">
				<h4 ng-click="fungsiAgendaShowMeSearchAgenda()">Search By</h4>
			</div>
		</div>
		<p ng-show="showMeSearchBy">Agenda Date <input type="text" ng-model="search.AgendaDate"></p>
		<p ng-show="showMeSearchBy">Timeschedule<input type="text" ng-model="search.Time"></p>
		<p ng-show="showMeSearchBy">Descriptions' <input type="text" ng-model="search.Description"></p>
		<table class="table table-hover" style="background-color:lightgreen">
			<thead>
				<tr>
					<th ng-show="false">#</th>
					<th>Date</th>
					<th>Time</th>
					<th>Description</th>
					<th ng-show="false">Attention</th>
					<th ng-show="false">Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="xy in listAgendaData | filter:search">
					<td ng-show="false" ng-click="nomorAgenda=xy.AgendaNumber; fungsiShowAgendaDetail(nomorAgenda)" data-toggle="modal" data-target="#myShowAgendaModal">{{xy.AgendaNumber}}</td>
					<td ng-click="nomorUrutAgenda=xy.AgendaNumber; nomorAgenda=xy.AgendaNumber; fungsiShowAgendaDetail(nomorAgenda)" data-toggle="modal" data-target="#myShowAgendaModal">{{xy.AgendaDate | date : "MM/dd/y" }}</td>
					<td ng-click="nomorUrutAgenda=xy.AgendaNumber; nomorAgenda=xy.AgendaNumber; fungsiShowAgendaDetail(nomorAgenda)" data-toggle="modal" data-target="#myShowAgendaModal">{{xy.Time}}</td>
					<td ng-click="nomorUrutAgenda=xy.AgendaNumber; nomorAgenda=xy.AgendaNumber; fungsiShowAgendaDetail(nomorAgenda)" data-toggle="modal" data-target="#myShowAgendaModal">{{xy.Description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</body>
</html>