<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chart Control</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
	<script src="ReadsYsChartControler.js"></script>
	<div ng-app="myChartApp" ng-controller="chartControl">
		<ul class="nav nav-tabs navbar-right">
			<li><a data-toggle="tab" href="#navChartControl"><b>Chart Control</b></a></li>
			<li><a data-toggle="tab" href="#navCreateNewChart"><b>Create New Chart</b></a></li>
			<li><a data-toggle="tab" href="#navViewLargeChart"><b>View Large Chart</b></a></li>
			<li class="active"><a data-toggle="tab" href="#viewMainChart"><b>View Main Chart</b></a></li>	
		</ul><br><br><p>
		<div class="tab-content" id="tabBusinessDocument">
			<div id="viewMainChart" class="tab-pane fade in active" style="padding:0px">
				<div class="well" id="mainChart">
					<h4 id="wellMainChartTitle"><center>{{mainChartTitle}}</center></h4>
					<h5 id="wellMainChartSubTitle"><center>{{mainChartSubTitle}}</center></h5>
					<canvas id="myMainChart" width={{mainChartWith}} height={{mainChartHeight}}></canvas>
					<p ng-click="fungsiPlacingMainChart()">Description:</p>
				</div>
				<div class="row content">
					<div class="row">
						<div class="col-sm-3">
							<div class="well" id="firstChart" ng-init="firstChartTitle; firstChartSubTitle; showMe31=true;" ng-show="showMe31" ng-click="fungsiPlacingChartOneTitle()">
								<h4 id="wellFirstChartTitle" ng-click="fungsiPlacingChartOne()"><center>{{firstChartTitle}}</center></h4>
								<h5 id="wellFirstChartSubTitle" ng-click="fungsiPlacingChartOne()"><center>{{firstChartSubTitle}}</center></h5>
								<canvas id="myMainChart" width={{firstChartWith}} height={{firstChartHeight}}></canvas>
								<p ng-click="fungsiPlacingChartOne()">Description:</p> 
							</div>
						</div>
						<div class="col-sm-3">
							<div class="well" id="secondChart" ng-init="secondChartTitle; secondChartSubTitle; showMe32=true;" ng-show="showMe32" ng-click="fungsiPlacingChartTwoTitle()">
								<h4 id="wellTwoChartTitle" ng-click="fungsiPlacingChartTwo()"><center>{{secondChartTitle}}</center></h4>
								<h5 id="wellTwoChartSubTitle" ng-click="fungsiPlacingChartTwo()"><center>{{secondChartSubTitle}}</center></h5>
								<canvas id="myMainChart" width={{secondChartWith}} height={{secondChartHeight}}></canvas>
								<p ng-click="fungsiPlacingChartTwo()">Description:</p> 
							</div>
						</div>
						<div class="col-sm-3">
							<div class="well" id="thirtChart" ng-init="thirdChartTitle; thirdChartSubTitle; showMe33=true;" ng-show="showMe33" ng-click="fungsiPlacingChartThreeTitle()">
								<h4 id="wellThreeChartTitle" ng-click="fungsiPlacingChartThree()"><center>{{thirdChartTitle}}</center></h4>
								<h5 id="wellThreeChartSubTitle" ng-click="fungsiPlacingChartThree()"><center>{{thirdChartSubTitle}}</center></h5>
								<canvas id="myMainChart" width={{thirdChartWith}} height={{thirdChartHeight}}></canvas>
								<p ng-click="fungsiPlacingChartThree()">Description:</p> 
							</div>
						</div>
						<div class="col-sm-3">
							<div class="well" id="fourthChart" ng-init="fourthChartTitle; fourthChartSubTitle; showMe34=true;" ng-show="showMe34" ng-click="fungsiPlacingChartFourTitle()">
								<h4 id="wellFourthChartTitle" ng-click="fungsiPlacingChartFour()"><center>{{fourthChartTitle}}</center></h4>
								<h5 id="wellFourthChartSubTitle" ng-click="fungsiPlacingChartFour()"><center>{{fourthChartSubTitle}}</center></h5>
								<canvas id="myMainChart" width={{fourthChartWith}} height={{fourthChartHeight}}></canvas>
								<p ng-click="fungsiPlacingChartFour()">Description:</p> 
							</div>
						</div>
				  </div>
					<div class="row">
						<div class="col-sm-4">
						  <div class="well">
							<p>Text</p> 
							<p>Text</p> 
							<p>Text</p> 
						  </div>
						</div>
						<div class="col-sm-4">
						  <div class="well">
							<p>Text</p> 
							<p>Text</p> 
							<p>Text</p> 
						  </div>
						</div>
						<div class="col-sm-4">
						  <div class="well">
							<p>Text</p> 
							<p>Text</p> 
							<p>Text</p> 
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
						  <div class="well">
							<p>Text</p> 
						  </div>
						</div>
						<div class="col-sm-4">
						  <div class="well">
							<p>Text</p> 
						  </div>
						</div>
					</div>
				</div>
			</div>
			<div id="navChartControl" class="tab-pane fade" style="padding:0px">
				<div id="chartControlTask" class="panel panel-danger">
					<div class="row">
						<div class="col-sm-4">
							<div id="chartDataControl" class="panel panel-danger" style="border:none;">
								<div class="panel-heading" id="headingPanelIndicatorUtama" style="padding-right:0px;">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordionPanelDevelopment" href="#collapseProcessingControl">Filter Source Control</a>
									</h4>
								</div>
								<div class="panel-body collapse collapse" id="collapseProcessingControl" style="padding-right:0px">
									<form>
										<label for="sel1">Select Source Menu Task (select one):</label>
										<select class="form-control" id="sel1" ng-model="selectedChartTask" ng-options="z1.SelectedTask for z1 in chartTask" style="background-color:tomato; color:white;" ng-change="fungsiSelectTask(selectedChartTask.SelectedTask)"></select>
										<p></p>
										<label for="sel2">Select Sub Task (select multiple):</label>
										<select multiple class="form-control" id="sel2" ng-model="selectedChartTask1" ng-options="z2.SelectedTask for z2 in chartTask2" ng-change="fungsiSelectTask2(selectedChartTask1.SelectedTask)"></select>
										<p></p>
										<label for="sel5">List of Charts. Select Chart(select one):</label>
										<select class="form-control" id="sel5" ng-model="selectedChartTask2" ng-options="z3.SelectedChart for z3 in chartTask3" style="background-color:tomato; color:white;" ng-change="fungsiSettingSelectedChart(z3.SelectedChart)"></select>
									</form>
								</div>
							</div>
							<div id="customizeTheChart" class="panel panel-danger" style="border:none; padding-left:0px;">
								<div class="panel-heading" id="headingPanelIndicatorUtama">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordionPanelDevelopment" href="#collapseCustomizeTheChart">Customize Chart's View</a>
									</h4>
								</div>
								<div class="panel-body collapse collapse" id="collapseCustomizeTheChart" style="padding:0px"><br>
									<form>
										<label for="selCustomize">Customize Chart Size (select one):</label>
										<select class="form-control" id="selCustomize" ng-model="managingChartsSize" ng-options="z1.SelectedTask for z1 in chartSizeCustomization" style="background-color:tomato; color:white;" ng-change="fungsiManagingChartsSize(managingChartsSize)"></select>
										<p></p>	
										<label for="selCustomizeChartTitle">Customize Chart Title (select one):</label>
										<select class="form-control" id="selCustomizeChartTitle" ng-model="managingChartsTitle" ng-options="z1.SelectedTask for z1 in chartSizeCustomization" style="background-color:tomato; color:white;" ng-change="fungsiManagingChartsTitle(managingChartsTitle)"></select>
										<p></p>
										<label for="selCustomizeChartLibel">Customize Chart Label (select one):</label>
										<select class="form-control" id="selCustomizeChartLibel" ng-model="managingChartsLabel" ng-options="z1.SelectedTask for z1 in chartSizeCustomization" style="background-color:tomato; color:white;" ng-change="fungsiManagingChartsSize(managingChartsSize)"></select>
										<p></p>
										<label for="selCustomizeChartType">Setting Type of Chart(select one):</label>
										<select class="form-control" id="selCustomizeChartType" ng-model="managingChartsSize" ng-options="z1.SelectedTask for z1 in chartSizeCustomization" style="background-color:tomato; color:white;" ng-change="fungsiManagingChartsSize(managingChartsSize)"></select>
										<p></p>
									</form>
									<div id="toolsToViewChart1" class="title" ng-show = "showMe40">	
										<h4><center>Setting Main Chart's Size</center></h4>
										<p>With:<input type="integer" ng-model="mainChartWith"></p>
										<p>Height:<input type="integer" ng-model="mainChartHeight"></p>
									</div>
									<div id="toolsToViewChart2" class="title" ng-show = "showMe41">	
										<h4><center>Setting Chart #One's Size</center></h4>
										<p>With:<input type="integer" ng-model="firstChartWith"></p>
										<p>Height:<input type="integer" ng-model="firstChartHeight"></p>
									</div>
									<div id="toolsToViewChart3" class="title" ng-show = "showMe42" style="padding-top:15px; padding-right:5px; padding-left:5px">	
										<h4><center>Setting Chart #Two's Size</center></h4>
										<p>With:<input type="text" ng-model="secondChartWith"></p>
										<p>Height:<input type="text" ng-model="secondChartHeight"></p>
									</div>
									<div id="toolsToViewChart4" class="title" ng-show = "showMe43" style="padding-top:15px; padding-right:5px; padding-left:5px">	
										<h4><center>Setting Chart Three's Size</center></h4>
										<p>With:<input type="text" ng-model="thirdChartWith"></p>
										<p>Height:<input type="text" ng-model="thirdChartHeight"></p>
									</div>
									<div id="toolsToViewChart5" class="title" ng-show = "showMe44" style="padding-top:15px; padding-right:5px; padding-left:5px">	
										<h4><center>Setting Chart Four's Size</center></h4>
										<p>With:<input type="text" ng-model="fourthChartWith"></p>
										<p>Height:<input type="text" ng-model="fourthChartHeight"></p>
									</div>
									<div id="toolsToViewChart1" class="title" ng-show = "showMe16" style="padding-top:15px; padding-right:5px; padding-left:5px">	
										<h4><center>Setting Main Chart's Title</center></h4>
										<p>Title: <input type="text" ng-model="mainChartTitle"></p>
										<p>Sub.T: <input type="text" ng-model="mainChartSubTitle"></p>
									</div>
									<div id="toolsToViewChart2" class="title" ng-show = "showMe17" style="padding-top:15px; padding-right:5px; padding-left:5px">	
										<h4><center>Setting Chart #One's Title</center></h4>
										<p>Title: <input type="text" ng-model="firstChartTitle"></p>
										<p>Sub.T: <input type="text" ng-model="firstChartSubTitle"></p>
									</div>
									<div id="toolsToViewChart3" class="title" ng-show = "showMe18" style="padding-top:15px; padding-right:5px; padding-left:5px">	
										<h4><center>Setting Chart #Two's Title</center></h4>
										<p>Title: <input type="text" ng-model="secondChartTitle"></p>
										<p>Sub.T: <input type="text" ng-model="secondChartSubTitle"></p>
									</div>
									<div id="toolsToViewChart4" class="title" ng-show = "showMe19" style="padding-top:15px; padding-right:5px; padding-left:5px">	
										<h4><center>Setting Chart Three's Title</center></h4>
										<p>Title: <input type="text" ng-model="thirdChartTitle"></p>
										<p>Sub.T: <input type="text" ng-model="thirdChartSubTitle"></p>
									</div>
									<div id="toolsToViewChart5" class="title" ng-show = "showMe20" style="padding-top:15px; padding-right:5px; padding-left:5px">	
										<h4><center>Setting Chart Four's Title</center></h4>
										<p>Title: <input type="text" ng-model="fourthChartTitle"></p>
										<p>Sub.T: <input type="text" ng-model="fourthChartSubTitle"></p>
									</div>
								</div>
							</div>
							<div id="chartTypeControl" class="panel panel-danger" style="border:none;">
								<div class="panel-heading" id="panelChartTypeControl" style="padding-right:0px;">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordionChartTypeControl" href="#collapseChartTypeControl">Type of Chart</a>
									</h4>
								</div>
								<div class="panel-body collapse collapse" id="collapseChartTypeControl" style="padding-right:0px">
									<form>
										<label for="selChartType">Select one:</label>
										<select class="form-control" id="selChartType" ng-model="selectedChartTask" ng-options="z1.SelectedTask for z1 in chartTask" style="background-color:tomato; color:white;" ng-change="fungsiSelectTask(selectedChartTask.SelectedTask)"></select>
										<p></p>
									</form>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div id="chartDataControl" class="panel panel-danger" style="border:none;">
								<div class="panel-heading" id="headingPanelIndicatorUtama" style="padding-left:0px; padding-right:0px;">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordionPanelDevelopment" href="#collapseDataSource">Selected Data Source</a>
									</h4>
								</div>
								<div class="panel-body collapse collapse in" id="collapseDataSource" style="padding-left:0px; padding-right:0px">
								
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							
						</div>
					</div>
				</div>				
			</div>
			<div id="navCreateNewChart" class="tab-pane fade" style="padding:0px">

			</div>
			<div id="navViewLargeChart" class="tab-pane fade" style="padding:0px">

			</div>
		</div>	
	</div>
	<div id="myModalActivateChart" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4><center>Activate Chart</center></h4>
				</div>
				<div class="modal-body">
					<p>Chart#: <input type="text" ng-model="deActivateCharts" ng-change="fungsiActivateChart(deActivateCharts)"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="myModalDeactivateChart" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4><center>Deactivate Chart</center></h4>
				</div>
				<div class="modal-body">
					<p>Chart#: <input type="text" ng-model="deActivateCharts" ng-change="fungsiDeactivateChart(deActivateCharts)"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="myModalManagingChartSize" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4><center>Managing Chart's Size</center></h4>
				</div>
				<div class="modal-body">
					<p>Chart#: <input type="text" ng-model="managingChartsSize" ng-change="fungsiManagingChartsSize(managingChartsSize)"></p>
					<div id="toolsToViewChart1" class="title" ng-show = "showMe40" style="padding-top:15px; padding-right:5px; padding-left:5px">	
						<h4><center>Setting Main Chart's Size</center></h4>
						<p>With:<input type="integer" ng-model="mainChartWith"></p>
						<p>Height:<input type="integer" ng-model="mainChartHeight"></p>
					</div>
					<div id="toolsToViewChart2" class="title" ng-show = "showMe41" style="padding-top:15px; padding-right:5px; padding-left:5px">	
						<h4><center>Setting Chart #One's Title</center></h4>
						<p>With:<input type="integer" ng-model="firstChartWith"></p>
						<p>Height:<input type="integer" ng-model="firstChartHeight"></p>
					</div>
					<div id="toolsToViewChart3" class="title" ng-show = "showMe42" style="padding-top:15px; padding-right:5px; padding-left:5px">	
						<h4><center>Setting Chart #Two's Title</center></h4>
						<p>With:<input type="text" ng-model="secondChartWith"></p>
						<p>Height:<input type="text" ng-model="secondChartHeight"></p>
					</div>
					<div id="toolsToViewChart4" class="title" ng-show = "showMe43" style="padding-top:15px; padding-right:5px; padding-left:5px">	
						<h4><center>Setting Chart Three's Title</center></h4>
						<p>With:<input type="text" ng-model="thirdChartWith"></p>
						<p>Height:<input type="text" ng-model="thirdChartHeight"></p>
					</div>
					<div id="toolsToViewChart5" class="title" ng-show = "showMe44" style="padding-top:15px; padding-right:5px; padding-left:5px">	
						<h4><center>Setting Chart Four's Title</center></h4>
						<p>With:<input type="text" ng-model="fourthChartWith"></p>
						<p>Height:<input type="text" ng-model="fourthChartHeight"></p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="myModalManagingChartTitle" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4><center>Managing Chart's Title</center></h4>
				</div>
				<div class="modal-body">
					<p>Chart#: <input type="text" ng-model="managingChartsTitle" ng-change="fungsiManagingChartsTitle(managingChartsTitle)"></p>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		function memberiJudulPadaChart() {
				var myElement = document.getElementById("judul");
				myElement=myElement.value;
				myElement=myElement.trim();
				document.getElementById("judulChart").innerHTML = myElement;
				}
		function memberiJudulPadaChart1() {
				var myElement = document.getElementById("judul1");
				myElement=myElement.value;
				myElement=myElement.trim();
				document.getElementById("judulChart1").innerHTML = myElement;
				}	
		function membuatChartColumn() {
				document.getElementById("myImage").src = "/Gambar/images13.jpg";
				}							
		function menampilkanChart() {
                var myElement = document.getElementById('buttonChart');
				if (myElement = 'Chart') {
                   document.getElementById("buttonChart").innerHTML = "Chart.";
				   document.getElementById('displaychart').style.display='block';
                    } else {
					document.getElementById("buttonChart").innerHTML = "Chart";
					document.getElementById('displaychart').style.display='collapse';
					}
		        }
	</script>
</body>
</html>
