<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>ReadsYs</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--<meta http-equiv="refresh" content="1">-->
		<style>
			.panel-scroll {max-height:530px;overflow:scroll;}
		</style>
	</head>  
	<body>
		<div ng-app="myReadsYsApp" ng-controller="myReadsYsAppCtrl">
			<div class="container-fluid" style="padding:0px;">
				<div Class="MobileGetgedWindow visible-xs">	
					<h1 style="padding:0px" ng-style="myObj"><center>{{myHeader}}</center></h1>
					<div class="MobileGetgedWindow" ng-show="showMeMobileGetgedWindow" style="width:100%; height:800px; background-color:coral;">
						<img class="img-responsive" src="Gambar/LOGO.png" style="width:95%; height:automatic; padding-top: 200px;" ng-click="fungsiActivateOpen()">
					</div>
					<div Class="MobileGetgedWindow" ng-show="showmePengaturWindow">
						<h1 style="padding:0px" ng-style="myObj"><center>{{myHeader}}</center></h1>
						<div class="MobileGetgedWindow" ng-show="showMeMobileGetgedWindow" style="width:100%; height:800px; background-color:coral;" data-toggle="tooltip" title="This tooltip is on top!">
							<img class="img-responsive" src="Gambar/LOGO.png" style="width:95%; height:automatic; padding-top: 200px;" ng-click="fungsiActivateOpen()">
						</div>
					</div>
				
					<div Class="MobileGetgedWindow" ng-show="showmePengaturWindow">
						<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: white;">
							<div class="navbar-header">
								<div class="row">
									<div class="col-lg-2" style="padding-right:0px; padding-left:1">
										<img class="img-responsive" src="Gambar/LOGO.png" style="float:left; width:60%; height:78px;">
									</div>
									<div class="col-lg-10" style="padding-top:30px; padding-left:0px; padding-right:0px;">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbarM" style="background-color: green;">
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>                        
										</button>
									</div>
								</div>
							</div>
							<div class="collapse navbar-collapse" id="myNavbarM" style="padding-left:50px; padding-left:10px; padding-right:0px;">
								<ul class="nav navbar-nav">
									<li class="dropdown">
										<a ng-show="showMeAccount" id="account" class="dropdown-toggle" href="#1">ACCOUNT<span class="caret"></span></a>
										<a ng-show="showMeAccountActive" id="account" class="dropdown-toggle" data-toggle="dropdown" href="#1">ACCOUNT<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<li ng-show="showMeManagingBilling"><a data-toggle="collapse" data-target="#displayMobileAccountManagingBilling, #displayAccountManagingBillingSupportMyJob">Managing Billing</a></li>
												<li ng-show="showMeFAS"><a data-toggle="collapse" data-target="#displayAccountFinancialAccountStatement">Financial Account Statement</a></li>
												<li ng-show="showMeAccountingFramework"><a data-toggle="collapse" data-target="#displayAccountAccountingFramework">Accounting Framework</a></li>
												<li ng-show="showMeManagingPayment"><a data-toggle="collapse" data-target="#displayAccountManagingPayment">Managing Payment</a></li>
												<li ng-show="showMeBudget"><a data-toggle="collapse" data-target="#displayAccountBudget">Budget</a></li>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#1">ACTUARIAL<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<li><a data-toggle="collapse" data-target="#displayActuarialPerformanceControl">Performance</a></li>
												<li><a data-toggle="collapse" data-target="#displayActuarialValuationControl">Valuation</a></li>
												<li><a href="#">Reserves</a></li>     
												<li><a href="SecurityLoading.html" target="_self">Security Loading</a></li>
												<li><a href="#">Retention Limit</a></li>
											</li>
										</ul>							
									</li>
									<li id="administration" class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#1">ADMINISTRATION<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<li><a data-toggle="collapse" data-target="#displayBussinessDocument">Business Document</a></li>
												<li><a data-toggle="collapse" data-target="#placingNewBusiness">Placing New Offer</a></li>
												<li><a href="StuffBusinessOutstandingFacultative.html" target="_self">Renewal</a></li>
												<li><a href="StuffBusinessAcceptedFacultative.html" target="_self">Tracking Cessie</a></li>
												<li><a href="StuffBusinessRegisteredTreaty.html" target="_self">Automatic Termination</a></li>
											</li>
										</ul>							
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#1">CLAIM<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<li><a href="#">Account</a></li>
												<li><a data-toggle="collapse" data-target="#displayActuarialControl">Actuarial</a></li>
												<li><a href="ReinsuranceAdministration.html">Administration</a></li>
												<li><a href="#">Claims</a></li>
												<li><a href="#">Customer Relationship</a></li>
												<li><a href="#">Report</a></li>
												<li><a href="#">Underwriting</a></li>
											</li>
										</ul>							
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#1">MANAGING CR<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<li><a href="#">Database Administration</a></li>
												<li><a href="#">Managing Authoritative User</a></li>
												<li><a href="#">Application Interoperational</a></li>
												<li><a href="OperatingProcedure.html">Operating Procedure</a></li>
												<li><a href="#">Application Development</a></li>
											</li>
										</ul>							
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#1">REPORT<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<li><a href="#">Account</a></li>
												<li><a data-toggle="collapse" data-target="#displayActuarialControl">REPORT</a></li>
												<li><a href="ReinsuranceAdministration.html">Administration</a></li>
												<li><a href="#">Claims</a></li>
												<li><a href="#">Customer Relationship</a></li>
												<li><a href="#">Report</a></li>
												<li><a href="#">Underwriting</a></li>
											</li>
										</ul>							
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#1">UNDERWRITING<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<li><a href="#">Account</a></li>
												<li><a data-toggle="collapse" data-target="#displayActuarialControl">Actuarial</a></li>
												<li><a href="ReinsuranceAdministration.html">Administration</a></li>
												<li><a href="#">Claims</a></li>
												<li><a href="#">Customer Relationship</a></li>
												<li><a href="#">Report</a></li>
												<li><a href="#">Underwriting</a></li>
											</li>
										</ul>							
									</li>
									<a id="button6" class="btn btn-danger navbar-btn navbar-right glyphicon glyphicon-folder-open" data-toggle="modal" data-target="#activateModalSignUp" ng-click="removeTasksToArchive()"></a>
									<a id="button5" ng-show="showMeButton5" class="btn btn-primary navbar-btn  navbar-right glyphicon glyphicon-stats" ng-disabled="showMeButton5"></a>
									<a id="button5" ng-show="showMeChartToggle" class="btn btn-primary navbar-btn  navbar-right glyphicon glyphicon-stats" data-toggle="collapse" data-target="#displayChartControl"></a>
									<a id="button4" ng-show="showMeButton4" class="btn btn-danger navbar-btn  navbar-right glyphicon glyphicon-cd" ng-disabled="showMeButton4"></a>
									<a id="button4" ng-show="showMeDatabaseToggle" class="btn btn-danger navbar-btn  navbar-right glyphicon glyphicon-map-marker" data-toggle="collapse" data-target="#panelDatabaseManagement"></a>
									<a id="button3" ng-show="showMeButton3" class="btn btn-success navbar-btn  navbar-right glyphicon glyphicon-random" ng-disabled="showMeButton3"></a>
									<a id="button3" ng-show="showMeAllWindowsMobileToggle" class="btn btn-success navbar-btn  navbar-right glyphicon glyphicon-random" data-toggle="collapse" data-target="#mobilePanelMyCarouselControl, #mobilePanelInqueryCenterControl"></a>
									<a id="button2" ng-show="showMeButton2"  class="btn btn-warning navbar-btn  navbar-right glyphicon glyphicon-picture" ng-disabled="showMeButton2"></a>
									<a id="button2" ng-show="showMeCarouselToggle" class="btn btn-warning navbar-btn  navbar-right glyphicon glyphicon-picture" data-toggle="collapse" data-target="#panelMyCarouselControl"></a>
									<a id="button1" ng-show="showMeButton1"  class="btn btn-info navbar-btn  navbar-right glyphicon glyphicon-wrench" ng-disabled="showMeButton1"></a>
									<a id="button1" ng-show="showMeSquawkToggle" class="btn btn-info navbar-btn  navbar-right glyphicon glyphicon-wrench" data-toggle="collapse" data-target="#mobilePanelOperatingProcedures"></a>
								</ul>
							</div>
						</nav><br><br><br>
						<div class="panel panel-success collapse" id="mobilePanelOperatingProcedures">	
							<div class="panel-heading">
								<h4 class="panel-title">
									<img class="img-responsive" src="Gambar/control-panel-icon-64-775216665.png" style="float:left; width:40px; height:auto;"><a data-toggle="collapse" data-parent="#accordionDatabaseM" href="#collapseMobileOperatingProcedures">System Manual</a>
								</h4>
							</div>
							<div id="collapseMobileOperatingProcedures" class="panel-collapse collapse" style="padding:0px; padding-bottom:0px;">
								<div Class="callerMobileOperatingProcedures" ng-include="'ReadsYsOperatingProcedure.html'"></div>
							</div>
						</div>
						<div class="panel panel-success" id="mobilePanelMyCarouselControl">	
							<div class="panel-heading">
								<h4 class="panel-title">
									<img class="img-responsive" src="Gambar/video-player.png" style="float:left; width:40px; height:auto;"><a data-toggle="collapse" data-parent="#accordionDatabase2" href="#collapseMyMobileCarouselControl">Gallery</a>
								</h4>
							</div>
							<div id="collapseMyMobileCarouselControl" class="panel-collapse collapse in" style="padding:0px; padding-bottom:0px;">
								<div Class="callerMyCarouselControl" ng-include="'ReadsYsCoroussel.html'"></div>
							</div>
						</div>
						<div class="panel panel-success" id="panelInqueryCenterControlVxs" style="padding:0px;border:none;">			
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordionDatabase" href="#collapseMobileInqueryCenterControl">Inquery Center</a>
								</h4>
							</div>
							<p></p>
							<div id="collapseMobileInqueryCenterControl" class="panel-body panel-scroll panel-collapse collapse" style="padding:0px; padding-bottom:0px;">
								<img src="Gambar/inquiry_icon.jpg" style="width:85%; height:50%; padding:0px;">
								<div ng-include="'StuffAndReferenceForMobile.html'"></div>
							</div>
						</div>
						<div id="displayMobileAccountManagingBilling" class="panel panel-primary collapse" style="padding:0px; padding-bottom:0px; border:hidden;">						
							<iframe src="AccountManagingMobileBilling.html" style="border:none; height: 500px; width:100%; border:hidden;"></iframe>
						</div>
					</div>
				</div>
				<div Class="PersonnalComputerWindow hidden-xs">	
					<h1 ng-style="myObj"><center>{{myHeader}}</center></h1>
					<div class="MobileGetgedWindow" ng-show="showMeMobileGetgedWindow" style="width:100%; height:800px; background-color:coral;">
						<img class="img-responsive" src="Gambar/LOGO.png" style="width:95%; height:automatic; padding-top: 200px;" ng-click="fungsiActivateOpen()">
					</div>	
					<div Class="MobileGetgedWindow" ng-show="showmePengaturWindow">	
						<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: white;">
							<div class="navbar-header">
								<div class="row">
									<div class="col-lg-2">
										<img src="Gambar/LOGO.png" class="media-object" style="width:250px; height:80px; padding-right:0px; padding-left:0px;">
									</div>
									<div class="col-lg-10" style="padding-top:30px; padding-right:0px; padding-left:0">
										<div class="collapse navbar-collapse" style="padding-left:40px; padding-right:0px; border:hidden;">
											<ul class="nav navbar-nav">
												<li class="dropdown">
													<a id="account" class="dropdown-toggle" data-toggle="dropdown" href="#1">ACCOUNT<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li class="dropdown">
															<li><a data-toggle="collapse" data-target="#displayAccountManagingBilling, #displayAccountManagingBillingSupportMyJob" ng-click="fungsiChageJudulBilling()">Managing Billing</a></li>
															<li><a data-toggle="collapse" data-target="#displayAccountFinancialAccountStatement">Financial Account Statement</a></li>
															<li><a data-toggle="collapse" data-target="#displayAccountAccountingFramework">Accounting Framework</a></li>
															<li><a data-toggle="collapse" data-target="#displayAccountManagingPayment">Managing Payment</a></li>
															<li><a data-toggle="collapse" data-target="#displayAccountBudget">Budget</a></li>
														</li>
													</ul>		
												</li>
												<li class="dropdown">
													<a class="dropdown-toggle" data-toggle="dropdown" href="#1">ACTUARIAL<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li class="dropdown">
															<li><a data-toggle="collapse" data-target="#displayActuarialPerformanceControl">Performance</a></li>
															<li><a data-toggle="collapse" data-target="#displayActuarialValuationControl">Valuation</a></li>
															<li><a href="#">Reserves</a></li>     
															<li><a href="SecurityLoading.html" target="_self">Security Loading</a></li>
															<li><a href="#">Retention Limit</a></li>
														</li>
													</ul>							
												</li>
												<li id="administration" class="dropdown">
													<a class="dropdown-toggle" data-toggle="dropdown" href="#1">ADMINISTRATION<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li class="dropdown">
															<li><a data-toggle="collapse" data-target="#displayBussinessDocument" ng-click="fungsiDocumentBusinessAdministrationChangeJudul()">Business Document</a></li>
															<li><a data-toggle="collapse" data-target="#displayPlacingNewBusiness" ng-click="fungsiAdministrationChangePlacingNewBusiness()">Placing New Offer</a></li>
															<li><a href="StuffBusinessOutstandingFacultative.html" target="_self">Renewal</a></li>
															<li><a href="StuffBusinessAcceptedFacultative.html" target="_self">Tracking Cessie</a></li>
															<li><a href="StuffBusinessRegisteredTreaty.html" target="_self">Automatic Termination</a></li>
														</li>
													</ul>							
												</li>
												<li class="dropdown">
													<a class="dropdown-toggle" data-toggle="dropdown" href="#1">CLAIM<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li class="dropdown">
															<li><a href="#">Account</a></li>
															<li><a data-toggle="collapse" data-target="#displayActuarialControl">Actuarial</a></li>
															<li><a href="ReinsuranceAdministration.html">Administration</a></li>
															<li><a href="#">Claims</a></li>
															<li><a href="#">Customer Relationship</a></li>
															<li><a href="#">Report</a></li>
															<li><a href="#">Underwriting</a></li>
														</li>
													</ul>							
												</li>
												<li class="dropdown">
													<a class="dropdown-toggle" data-toggle="dropdown" href="#1">MANAGING CR<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li class="dropdown">
															<li><a href="#">Managing Document</a></li>
															<li><a href="#">Managing Contact Person</a></li>
															<li><a href="#">Managing Customers</a></li>
															<li><a href="OperatingProcedure.html">Operating Procedure</a></li>
															<li><a href="#">Managing Agreement-Treaty</a></li>
															<li><a href="#">Reinsurance Agreement-Treaty Life Cycle</a></li>
														</li>
													</ul>							
												</li>
												<li class="dropdown">
													<a class="dropdown-toggle" data-toggle="dropdown" href="#1">REPORT<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li class="dropdown">
															<li><a href="#">Account</a></li>
															<li><a data-toggle="collapse" data-target="#displayActuarialControl">REPORT</a></li>
															<li><a href="ReinsuranceAdministration.html">Administration</a></li>
															<li><a href="#">Claims</a></li>
															<li><a href="#">Customer Relationship</a></li>
															<li><a href="#">Report</a></li>
															<li><a href="#">Underwriting</a></li>
														</li>
													</ul>							
												</li>
												<li id="underwriting" class="dropdown">
													<a class="dropdown-toggle" data-toggle="dropdown" href="#1">UNDERWRITING<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li class="dropdown">
															<li><a data-toggle="collapse" data-target="#displayUnderwritingManagingFacultativeOffer" ng-click="fungsiUnderwritingManagingFacultativeOffer()">Managing Facultative Offer</a></li>
															<li><a data-toggle="collapse" data-target="#displayUnderwritingPreplacement" ng-click="fungsiUnderwritingPreplacement()">Preplacement</a></li>
															<li><a href="ReinsuranceAdministration.html">Placement</a></li>
															<li><a href="#"> BusinessManaging Treaty</a></li>
															<li><a href="#"> Underwriting Budget</a></li>
														</li>
													</ul>							
												</li>
												<a id="button6" class="btn btn-danger navbar-btn navbar-right glyphicon glyphicon-folder-open" data-toggle="modal" data-target="#activateModalSignUp" ng-click="removeTasksToArchive()"></a>
												<a id="button5" ng-show="showMeButton5" class="btn btn-warning navbar-btn  navbar-right glyphicon glyphicon-stats" ng-disabled="showMeButton5"></a>
												<a id="button5" ng-show="showMeChartToggle" class="btn btn-warning navbar-btn  navbar-right glyphicon glyphicon-stats" data-toggle="collapse" data-target="#displayChartControl" ng-click="fungsiChartActivateChart()"></a>
												<a id="button4" ng-show="showMeButton4" class="btn btn-primary navbar-btn  navbar-right glyphicon glyphicon-map-marker" ng-disabled="showMeButton4"></a>
												<!--<a id="button4" ng-show="showMeDatabaseToggle" class="btn btn-primary navbar-btn  navbar-right glyphicon glyphicon-map-marker" href="AccountManagingBilling.html?searchingDetailOfBilling=true" target="#iFrameAccountManagingBilling"></a>-->
												<a id="button4" ng-show="showMeDatabaseToggle" class="btn btn-primary navbar-btn  navbar-right glyphicon glyphicon-map-marker" data-toggle="collapse" data-target="#displayGoogleMap"></a>
												<a id="button3" ng-show="showMeButton3" class="btn btn-success navbar-btn  navbar-right glyphicon glyphicon-random" ng-disabled="showMeButton3"></a>
												<a id="button3" ng-show="showMeAllWindowsMobileToggle" class="btn btn-success navbar-btn  navbar-right glyphicon glyphicon-random" data-toggle="collapse" data-target="#panelOperatingProcedures, #panelMyCarouselControl, #panelInqueryCenterControl, #panelInqueryCenterControlHxs"></a>
												<a id="button2" ng-show="showMeButton2" class="btn btn-warning navbar-btn  navbar-right glyphicon glyphicon-fullscreen" ng-disabled="showMeButton2"></a>
												<a id="button2" ng-show="showMeCarouselToggle" class="btn btn-warning navbar-btn  navbar-right glyphicon glyphicon-fullscreen" ng-click="fungsiMengaktifkanShowMeLeftGrid()"></a>
												<!--<a id="button2" ng-show="showMeCarouselToggle" class="btn btn-warning navbar-btn  navbar-right glyphicon glyphicon-fullscreen" href="AccountManagingBilling.html" target="_blank"></a>-->
												<a id="button1" ng-show="showMeButton1"  class="btn btn-info navbar-btn  navbar-right glyphicon glyphicon-wrench" ng-disabled="showMeButton1"></a>
												<a id="button1" ng-show="showMeSquawkToggle" class="btn btn-info navbar-btn  navbar-right glyphicon glyphicon-wrench" data-toggle="collapse" data-target="#panelOperatingProcedures" ng-click="fungsiActivateManualBook()"></a>
											</ul>
										</div>
									</div>	
								</div>
							</div>					
						</nav><br><br><br>
						<div class="container-fluid" style="padding:5px!important">
							<div class="row">	
								<div class="col-sm-3" ng-show="showLeftGridHxs" style="padding-bottom:0px; padding-right:0px; padding-left:5px;border:none;">
									<img ng-show="showMeGambarSystem" src="Gambar/Administration7.jpg" style="width:100%; height:50%; padding:0px;">
									<img ng-show="showMeGambarChart" src="Gambar/Administration15.jpg" style="width:100%; height:50%; padding:0px;">
									<img ng-show="showMeGambarAdministrasi" src="Gambar/Administration1.jpg" style="width:100%; height:50%; padding:0px;">
									<img ng-show="showMeGambarBilling" src="Gambar/Administration4.jpg" style="width:100%; height:50%; padding:0px;">
									<img ng-show="showMeGambarInquery" src="Gambar/inquiry_icon.jpg" style="width:100%; height:50%; padding:0px;">
									<img ng-show="showMeGambarUnderwriting" src="Gambar/decision-making.png" style="width:100%; height:automatic; padding:0px;">										
									<img ng-show="showMeGambarPIndicators" src="Gambar/Administration15.jpg" style="width:100%; height:automatic; padding:0px;">									
									<div id="panelOperatingProcedures" ng-show="showMeManualBook" class="panel panel-success">
										<div class="panel-heading" id="headingPanelIndicatorUtama">
											<h4 class="panel-title">
												<img class="img-responsive" src="Gambar/control-panel-icon-64-775216665.png" style="float:left; width:30px; height:auto;"><a data-toggle="collapse" data-parent="#accordionPanelDevelopmentIndicators" href="#collapseOperatingProcedures">.Manual Book</a>
											</h4>
										</div>
										<div class="panel-body panel-scroll panel-collapse collapse" id="collapseOperatingProcedures" style="padding:0px">
											<div ng-include="'ReadsYsOperatingProcedure.html'" style="border:none; height: automatic; width:100%; border:hidden;"></div>
										</div>
									</div>
									<div class="panel panel-success" id="panelInqueryCenterControlHxs" style="padding:0px;border:none;">			
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordionDatabased" href="#collapsePCInqueryCenterControl" ng-click="fungsiShowMeGambarInquery()">Inquery Center</a>
											</h4>
										</div>
										<p></p>
										<div id="collapsePCInqueryCenterControl" class="panel-body panel-scroll panel-collapse collapse" style="padding:0px; padding-bottom:0px;">									
											<div ng-include="'StuffAndReferenceForPC.html'"></div>
										</div>
									</div>
									<div class="panel panel-success" id="panelIndicatorsControlHxs" style="padding:0px;border:none;">			
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordionBusinessIndicator" href="#collapsePCBusinessIndicatorControl" ng-click="fungsiShowMePerformanceIndicator()">Performance Indicator</a>
											</h4>
										</div>
										<p></p>
										<div id="collapsePCBusinessIndicatorControl" class="panel-body panel-collapse collapse" style="padding:0px; padding-bottom:0px;">									
											<div ng-include="'PerformanceIndicators.html'"></div>
										</div>
									</div>
									<div id="displayAccountManagingBillingSupportMyJob" class="panel panel-success collapse" style="padding:0px; padding-bottom:0px;">
										<iframe src="ReadsYsAccountManagingBillingPCSupport.html" style="border:none; height: 530px; width:100%;"></iframe>
									</div>
								</div>
								<div class="col-sm-9" style="padding-bottom:0px; padding-right:0px;border:none;">
									<div id="panelMyCarouselControl"  class="panel panel-success" style="padding-top:0px; padding-bottom:0px;border:none;">	
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordionDatabase" href="#collapseMyCarouselControl">Gallery</a>
											</h4>
										</div>
										<div id="collapseMyCarouselControl" class="panel-collapse collapse in" style="padding-top:0px; padding-bottom:0px;">
											<div ng-include="'ReadsYsCoroussel.html'"></div>
										</div>
									</div>
									<div id="leftSideWindowControl" class="panel panel-primary">
										<div class="panel-heading" id="panelMainWorksheet">
											<h4 id="panelJudulMainWorksheet" class="panel-title"><a data-toggle="collapse" data-parent="#accordionPanelMainWorksheet" href="#collapseMainWorksheet">Main Worksheet</a></h4>
										</div>
										<p></p>											
										<div id="collapseMainWorksheet" class="panel-body collapse in"  style="padding-top:0px; padding-bottom:0px;">
											<div id="displayPanelSearchingTools" class="panel panel-danger collapse" style="padding:0px; padding-bottom:0px;">
												<div class="panel-heading" id="accountSupportingData" ng-show="showMeDatabaseManagement">
													<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionPanelAsset" href="#collapseDatabaseSupportingTools">Database Supporting Tools</a></h4>
												</div>
												<div id="collapseDatabaseSupportingTools" class="panel-body collapse" style="padding:0px;" ng-show="showMeDatabaseManagement">
													<iframe src="ReadsYsManagingDatabase.html" style="border:none; height: 500px; width:100%;"></iframe>
												</div>
											</div>
											<div id="panelDatabaseManagement" class="panel panel-danger collapse" style="padding:0px; padding-bottom:0px;">
												<div class="panel-heading" id="accountSupportingData" ng-show="showMeDatabaseManagement">
													<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionPanelAsset" href="#collapseDatabaseSupportingTools">Database Supporting Tools</a></h4>
												</div>
												<div id="collapseDatabaseSupportingTools" class="panel-body collapse" style="padding:0px;" ng-show="showMeDatabaseManagement">
													<iframe src="ReadsYsManagingDatabase.html" style="border:none; height: 500px; width:100%;"></iframe>
												</div>
											</div>
											<div id="displayChartControl" class="panel panel-primary collapse" style="padding:0px; padding-bottom:0px;">
												<iframe src="ReadsYsDisplayChart.html" style="border:none; height: 500px; width:100%;" ng-show="showMeChartControl"></iframe>
											</div>
											<div id="displayActuarialValuationControl" class="panel panel-primary collapse" style="padding:0px; padding-bottom:0px;">
												<iframe src="AktuarialValuation.html" style="border:none; height: 500px; width:100%;"></iframe>
											</div>
											<div id="displayActuarialPerformanceControl" class="panel panel-primary collapse" style="padding:0px; padding-bottom:0px;">
												<!-- Bermasalah kalau diaktifkan<iframe src="Performance.html" style="border:none; height: automatic; width:100%;"></iframe>-->
											</div>
											<div id="displayAccountManagingBilling" class="panel panel-primary collapse" style="padding:0px; padding-bottom:0px">
												<iframe id="iFrameAccountManagingBilling" src="AccountManagingBilling.html" style="border:none; height: 530px; width:100%;"></iframe>
											</div>
											<div id="displayBussinessDocument" class="panel panel-primary collapse" style="padding:0px; padding-bottom:0px;">
												<iframe id="iFrameAdministrationBussinessDocument" src="ReadsYsAdministrationBusinessDocument.html" style="border:none; height: 530px; width:100%;"></iframe>
											</div>
											<div ng-show="showMePerformanceIndicatorExecutiveSummary" class="indicator" style="padding-left:0px; padding-right:0px; padding-bottom:0px; border:none;">
												<div ng-include="'PerformanceIndicatorExecutiveSummary.html'"></div>
											</div>
											<div id="displayPlacingNewBusiness" class="panel panel-primary collapse" style="padding-left:0px; padding-right:0px; padding-bottom:0px; border:none;">
													<iframe id="iFramedisplayPlacingNewBusiness" src="ReadsYsAdministrationPlacingNewBusiness.html" style="border:none; height: 530px; width:100%;"></iframe>
												</div>
											<div id="displayUnderwritingManagingFacultativeOffer" class="panel panel-primary collapse" style="padding-left:0px; padding-right:0px; padding-bottom:0px; border:none;">
												<iframe id="iFramedisplayUnderwritingManagingFacultativeOffer" src="UnderwritingManagingFacultativeOffer.html" style="border:none; height: 530px; width:100%; border:none;"></iframe>
											</div>
											<div id="displayGoogleMap" class="panel panel-success collapse" style="width:100%">
												<iframe src="GoogleMap2.html?lat=5.7908968128719565&lng=95.009775625" style="border:none; height: 530px; width:100%;"></iframe>											
											</div>
										</div>
									</div>	
								</div>
								<div class="modal fade in" id="dataSearchModal">
									<div class="modal-dialog">   
										<div class="modal-content">
											<div class="modal-header" style="padding:20px;"> 
												<div class="media">
													<div class="media-left">
														<img src="Gambar/search-icon-64-22258053.png" class="media-object" style="width:90px;">
													</div>
													<div class="media-body">
														<h3 class="media-heading">Search</h3>
													</div>
												</div>						
											</div>
											<div class="modal-body" style="padding:0px;">
												<div class="media"> 
													<form class="form-inline">
														<div class="form-group">
															<label>Date:</label>
															<input type="text" class="form-control" ng-model="search.Dated">
														</div>
														<div class="form-group">
															<label>Topic:</label>
															<input type="text" class="form-control" ng-model="search.Topic">
														</div>
														<p></p>
													</form>
												</div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
											</div>
										</div>  
									</div>
								</div>
							</div>
						</div>								
					</div>								
				</div>	
			</div>	
		</div>	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
		<script src="ReadsYsControl.js"></script>
	</body>
</html>