<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>ReadsYsAccountManagingBillingSupport</title>
	<!--<meta http-equiv="refresh" content="1">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
	
</head>  
<body>
	<script src="AccountBillingControler.js"></script>
	<div ng-app="accountBillingApp" ng-controller="accountControl">
		<div class="panel panel-success" style="padding:0px;">		
			<div class="panel-heading" id="headingPanelIndicatorUtama">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordionPanelDevelopmentIndicators" href="#collapseMyJobs">My Billing Jobs</a>
				</h4>
			</div>
			<div class="panel-body panel-scroll collapse" id="collapseMyJobs" style="padding:0px;">
				<div class="carousel-inner">
					<div class="item active">
						<img src="/Gambar/entry4.jpg" style="width:100%; high:automatic; padding:0px;">
						<div class="carousel-caption">
							<a><h3 ng-click="fungsiNewBusiness()" style="color:yellow">New Business</h3></a>
							<a><h3 ng-click="fungsiRenewal()" style="color:yellow">Renewal Business</h3></a>
							<a><h3 ng-click="fungsiAlteration()" style="color:yellow">Alteration Transaction</h3></a>
							<a><h3 ng-click="fungsiTermination()" style="color:yellow">Terminate Transaction</h3></a>
						</div>
					</div>
				</div>
				<table class="table table-hover table-bordered visible-xs" style="background-color:lightgreen">
					<thead ng-click="fungsiActivateButton()">
						<tr style="background-color:MediumSeaGreen; color:white">
							<th>Job#</th>
							<th>Date</th>
							<th id="topikMyJobs">Topic</th>							
							<th ng-show="false">Code</th>
						</tr>
					</thead>
					<tbody id="provideDataContent">
						<tr ng-repeat="y in listTransactionData">													
							<td ng-click = "noJob = y.Job;fungsiShowBillingJobDetail(noJob)" data-toggle="modal" data-target="#myModal">{{y.Job}}</td>
							<td ng-click = "noJob = y.Job;fungsiShowBillingJobDetail(noJob)" data-toggle="modal" data-target="#myModal">{{y.Dated}}</td>
							<td ng-click = "noJob = y.Job; fungsiShowBillingJobDetail(noJob)" data-toggle="modal" data-target="#myModal">{{y.Topic}}</td>				
							<td ng-show="false">{{ y.Code}}</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-hover table-bordered hidden-xs" style="background-color:lightgreen">
					<thead ng-click="fungsiActivateButton()">
						<tr style="background-color:MediumSeaGreen; color:white">													
							<th>Job#</th>
							<th>Date</th>
							<th id="topikMyJobss">Topic</th>
							<th>Customer</th>
							<th ng-show="false">File Name</th>
							<th ng-show="false">SOA-Transaction List</th>
							<th ng-show="false">Code</th>
						</tr>
					</thead>
					<tbody id="provideDataContent">
						<tr ng-repeat="y in listTransactionData">													
							<td id="jobNumber" ng-click = "noJob = y.Job; noCustomer = y.Code;fungsiCountingJob(noCustomer, noJob)">{{y.Job}}</td>
							<td id="jobDate">{{y.Dated}}</td>
							<td id="jobTopik">{{y.Topic}}</td>		
							<td id="jobCustomer" ng-click = "noJob = y.Job; noCustomer = y.Code;fungsiCountingJob(noCustomer, noJob)">{{y.Customer}}</td>
							<td ng-show="false" id="jobFileName">{{y.FileName}}</td>				
							<td ng-show="false" id="jobSOAPL">{{y.SOAPL}}</td>				
							<td ng-show="false">{{ y.Code}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
		<div id="panelCountingJob" class="panel panel-success" style="padding:0px">			
			<div class="panel-heading" id="headingPanelIndicatorUtama">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordionPanelDevelopmentIndicators" href="#collapseCountingJob">Counting Job to be Billing</a>
				</h4>
			</div>
			<div class="panel-body panel-scroll collapse in" id="collapseCountingJob" style="padding-top:5px; padding-left:15px; padding-right:15px;">
				<img src="/Gambar/Administration4.jpg" style="width:100%; high:automatic; padding:0px;">
				<h4 id="panelCountingJobs" ng-click="fungsiCalculatingJobsToBeBilling()"><center>Click me to colect data:</center></h4>
				<table class="table table-hover table-bordered" ng-show="showMeJobCalculatingTable">
					<thead>
						<tr style="background-color:MediumSeaGreen; color:white">
							<th><center>Customer</center></th>
							<th><center>Count Transaction</center></th>
							<th ng-show="false">Code</th>
						</tr>
					</thead>
					<tbody style="background-color:lightgreen">
						<tr ng-repeat="yx in countCustomerBillingData">													
							<td ng-click = "noCustomer = yx.Code; mCustomer=yx.Customer; fungsiCountingJobs(noCustomer,mCustomer)">{{yx.Customer}}</td>
							<td ng-click = "noCustomer = yx.Code; mCustomer=yx.Customer; fungsiCountingJobs(noCustomer,mCustomer); fungsiColectCessieForBilling(noCustomer); " style="text-align: right">
								<div id="panelDetailsOfCessie" class="panel panel-success panel-scroll" style="padding:0px">
									<div class="panel-heading" id="headingPanelDetailsOfCessieN">
										<a data-toggle="collapse" data-parent="#accordionPanelDetailsOfCessie" href="#{{$index}}">{{yx.Count | currency: "": 2}}</a>
									</div>
								</div>
								<div class="panel-body collapse" id="{{$index}}" style="padding:0px; height=10%;">
									<table class="table table-hover table-bordered" style="background-color:#f1f1c1; color:black">
										<thead>
											<tr>													
												<th ng-click="fungsiBillingActivateMasterPolicyModal('ReinsuranceNumber')"><center>Reins#</center></th>
												<th ng-click="fungsiBillingActivateMasterPolicyModal('ReinsuranceNumber')"><center>Transaction</center></th>
											</tr>
										</thead>
										<tfoot>
											<tr ng-repeat="nz in newBusinessTData">
												<td><center>Sum</center></td>
												<td style="text-align: right">{{nz.TotalTransactionAmount | currency: "": 2}}</td>
											</tr>
										</tfoot>
										<tbody>																			
											<tr ng-repeat="ny in newBusinessData | orderBy:newBusinessOrderBy" ng-class="{'selected':$index1 == selectedRow}" ng-click="fungsiSetClickedRowN($index1)">
												<td ng-show="false">{{$index1}}</td>
												<td ng-click="nomorReas=ny.ReinsuranceNumber; fungsiBillingActivateMasterPolicyModal(nomorReas)">{{ny.ReinsuranceNumber}}</td>		
												<td ng-click="fungsiBillingActivateMasterPolicyModal()" style="text-align: right">{{ny.TransactionAmount | currency: "": 2}}</td>
											</tr>
										</tbody>										
									</table>
								</div>
							</td>	
							<td ng-click = "noCustomer = yx.Code; mCustomer=yx.Customer; fungsiCountingJobs(noCustomer,mCustomer)" ng-show="false">{{ yx.Code}}</td>
						</tr>
					</tbody>
						<tfoot style="background-color:DarkSalmon; color:white;">
							<tr ng-repeat="yz in countCustomerBillingTData">
								<td><center>Sum</center></td>
								<td style="text-align: right">{{yz.Total | currency: "": 2}}</td>
							</tr>
						</tfoot>
				</table>
				<div class="modal fade in" id="masterPolicyModal">
					<div class="modal-dialog">   
						<div class="modal-content">
							<div class="modal-header" style="padding:20px;"> 
								<div class="media">
									<div class="media-left">
										<img src="/Gambar/Administration.jpg" class="media-object" style="width:90px;">
									</div>
									<div class="media-body">
										<h3 class="media-heading">Master Policy Detail of Reinsurance#</h3>
										<h3 class="media-heading" id="modalHeading">{{nomorUrutAgenda}}</h3>
									</div>
								</div>						
							</div>
							<div class="modal-body" style="padding:0px;">
								<iframe src="MasterPolicyView.html" style="border:none; height: 650px; width:100%; border:hidden;"></iframe>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
							</div>
						</div>  
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">   
				<div class="modal-content">
					<div class="modal-header" style="padding:20px 50px;">
						<h4 id="modalBillingDetail"></h4>							
					</div>
					<div class="modal-body" style="padding:40px 50px;">
						<p id="modalBillingDetailJob"></p>
						<p id="modalBillingDetailDate"></p>
						<p id="modalBillingDetailTopik"></p>
						<p id="modalBillingDetailCustomer"></p>
						<p id="modalBillingDetailFileName"></p>
						<p id="modalBillingDetailSOAPL"></p>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
					</div>
				</div>  
			</div>
		</div>
	</div>
</body>
</html>