<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>StuffEntryIntercon Bisa Dihapus</title>
  <script src="ManagingCRControl.js"></script>
<!--<meta http-equiv="refresh" content="1">-->
	<style>
	input.ng-invalid {
		background-color:pink;
	}
	input.ng-valid {
		background-color:lightgreen;
	}
	</style>
</head>
<body ng-controller="crEntryIntercon>
	<div class="media">
		<div class="media-right">
			<img src="/Gambar/entry1.jpg" class="media-object" style="width:70px;">
		</div>
		<div class="media-body">
			<h4 id="modalJudulTransactionDetail" ng-click="fungsiInterconActivateFormEntry()">Click me to confirm entry new Intercon</h4>
		</div>
	</div>
	<div class="modal fade" id="myEntryNewInterconModal" role="dialog">	
		<div class="modal-content">
			<div class="modal-header" style="padding:10px 50px; background-color:LightGoldenRodYellow">
				<div class="media">
					<div class="media-left">
						<img src="/Gambar/mobile_communication.jpg" class="media-object" style="width:90px;">
					</div>
					<div class="media-body">
						<h3 class="media-heading">Entry New Intercon</h3>														 
					</div>
				</div>
			</div>
			<div class="modal-body" style="padding:10px 50px;">
				<div class="form-group" name="InterconForm">
					<select class="form-control" id="selectorIntercon" ng-model="variabelInterconDetail" style="background-color:lightgray;">
						<option value="selectMainIntercon" id="myEntryNewIntercon">Main Intercon</option>
						<option value="selectAttentions">Attentions</option>
						<option value="selectNotes">Notes</option>
					</select>
				</div>
				<div ng-switch="variabelInterconDetail">
					<div ng-switch-when="selectMainIntercon">
						<form name="mainInterconForm" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Topic</label>
								<div class="col-sm-10">
									 <input name="myInput1" ng-model="Topic" required class="form-control" type="text">
									 <span style="color:red" ng-show="mainInterconForm.Topic.$dirty && mainInterconForm.Topic.$invalid">
									 <span ng-show="mainInterconForm.Topic.$touched && mainInterconForm.Topic.$invalid">The Topic is required.</span>
									 
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Date </label>
								<div class="col-sm-10"> 
									<input name="myInput2" ng-model="Date" required class="form-control" type="date">
									<span ng-show="mainInterconForm.Date.$touched && mainInterconForm.Date.$invalid">The Date is required.</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Sender</label>
								<div class="col-sm-10">
									<input name="myInput3" ng-model="Sender" required class="form-control" type="text">
									<span ng-show="mainInterconForm.Sender.$touched && mainInterconForm.Sender.$invalid">The Sender is required.</span>
								</div>
							</div>												
							<div class="form-group">
								<label class="col-sm-2 control-label">Receiver</label>
								<div class="col-sm-10">
									<input name="myInput4" ng-model="Receiver" required class="form-control" type="text">
									<span ng-show="mainInterconForm.Receiver.$touched && mainInterconForm.Receiver.$invalid">The Receiver is required.</span>
								</div>
							</div>
							<p>
							  <input type="submit" ng-disabled="mainInterconForm.Topic.$dirty">
							  
							</p>
						</form>
					</div>	
					<div ng-switch-when="selectAttentions">	
						<form name="interconAttentionsForm" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Attention1</label>
								<div class="col-sm-10">
									 <input name="myInput1" ng-model="Attention1" required class="form-control" type="text">
									 <span ng-show="interconAttentionsForm.Attention1.$touched && interconAttentionsForm.Attention1.$invalid">The Attention1 is required.</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Attention2</label>
								<div class="col-sm-10"> 
									<input name="myInput2" ng-model="Attention2" required class="form-control" type="date">
									<span ng-show="interconAttentionsForm.Attention2.$touched && interconAttentionsForm.Attention2.$invalid">The Attention2 is required.</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Attention3</label>
								<div class="col-sm-10">
									<input name="myInput3" ng-model="Attention3" required class="form-control" type="text">
									<span ng-show="interconAttentionsForm.Attention3.$touched && interconAttentionsForm.Attention3.$invalid">The Attention3 is required.</span>
								</div>
							</div>												
							<div class="form-group">
								<label class="col-sm-2 control-label">Attention4</label>
								<div class="col-sm-10">
									<input name="myInput4" ng-model="Attention4" required class="form-control" type="text">
									<span ng-show="interconAttentionsForm.Attention4.$touched && interconAttentionsForm.Attention4.$invalid">The Attention4 is required.</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Attention5</label>
								<div class="col-sm-10">
									<input name="myInput3" ng-model="Attention5" required class="form-control" type="text">
									<span ng-show="interconAttentionsForm.Attention5.$touched && interconAttentionsForm.Attention5.$invalid">The Attention5 is required.</span>
								</div>
							</div>												
							<p>
							  <input type="submit" ng-disabled="interconAttentionsForm.Attention1.$dirty && interconAttentionsForm.Attention1.$invalid || interconAttentionsForm.Attention2.$dirty && interconAttentionsForm.Attention2.$invalid 
							  || interconAttentionsForm.Attention3.$dirty && interconAttentionsForm.Attention3.$invalid || interconAttentionsForm.Attention4.$dirty && interconAttentionsForm.Attention4.$invalid 
							  || interconAttentionsForm.Attention5.$dirty && interconAttentionsForm.Attention5.$invalid">
							</p>
						</form>
					</div>
					<div ng-switch-when="selectNotes">
						<form name="MainInterconForm" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Notes</label>
								<div class="col-sm-10">
									 <input name="myInput11" ng-model="Notes" required class="form-control" type="text">
									 <span ng-show="myForm.Notes.$touched && myForm.Notes.$invalid">The Notes is required.</span>
								</div>
							</div>
							<p>
							  <input type="submit" ng-disabled="mainInterconForm.Notes.$dirty && mainInterconForm.Notes.$invalid ">
							</p>
						</form>
					</div>
				</div>	
				<div class="modal-footer">
					<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>																	
				</div>	
			</div>
		</div>
	</div>	
</body>
</html>
