<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stuff</title>
		<!--<meta http-equiv="refresh" content="1">-->
</head>  
<body ng-init="showMeMediaAgenda=true; showMeSearchBy=false; showMeAgendaTabel=false; myAgendaTabel=false; noNews=0; showMeTheTable=false; showMeDeleteAgenda=false; hideMeDeleteAgenda=true; showMeAgendaTabel=true; nomorUrutAgenda=0; showMeCustomerLapses=false; showMeCustomerBusin=false; showMeCustomerTable=false; showMeAllCustomers=false; showMeCustomerClaim=false; showMe1=false; showMe2=false; showMe3=false; showMe4=false; showMe5=false; showMe6=false; showMe7=false; legendSurplus; mJudul; mJudul2; mJudul3; mJudul4; mJudul5; mySwitch=true; mySwitch2=true; mySwitch3=true; mySwitch4=true; mySwitch5=true; mSwitch=false; mSwitch2=false; mSwitch3=false; mSwitch4=false; mSwitch5=false; mSwitch6=true; mSwitch7=false; mSwitch8=false; mSwitch9=false; mSwitch10=false; mSwitch11=true; showMeEntryNewAgenda=false; showMeMyAgenda=false; showMeCompanyAgenda=false;">
	<div id="panelStuffMobile" class="panel panel-info" style="padding:0px">
		<div class="panel-heading" id="headingPanelStuff">
			<h4 class="panel-title">
				<a id="panelTitleMobile" data-toggle="collapse" data-parent="#accordionPanelStuffMobile" href="#collapseStuffMobile">Modified Information Hirarchy</a>
			</h4>
		</div>
		<div id="collapseStuffMobile" class="panel-body collapse" style="padding:5px;">	
			<div class="form-group">
				<select class="form-control" id="selectorVariabelAgenda" ng-model="variabelSelectorStuff" style="background-color:tomato; color:white;">
					<option value="selectAgenda" id="myAgenda">Agenda</option>
					<option value="selectDocument">Document</option>
					<option value="selectInternalCommunication">Internal Communication</option>
					<option value="selectDocumentRequisition">Company's Policy</option>
					<option value="selectThreat">Synthesis Certainty</option>
					<option value="selectSquawk">Inteligent Knowlage</option>
				</select>
			</div>				
			<div ng-switch="variabelSelectorStuff" ng-controller="crManagingControl">
				<div ng-switch-when="selectAgenda">
					<div class="carousel-inner">
						<div class="item active">
							<img src="/Gambar/Administration3.jpg" style="width:100%; high:automatic; padding:0px;">
							<div class="carousel-caption">
								<a href="#showMyAgenda"><h3 style="color:yellow" ng-click="fungsiAgendaMyAgenda()">My Agenda</h3></a>
								<a href="#showCompanyAgenda"><h3 style="color:yellow" ng-click="fungsiAgendaCompanyAgenda()">Company's Agenda</h3></a>
								<a href="#toInsertNewAgenda"><h3 style="color:yellow" ng-click="fungsiAgendaEntryAgenda()">Insert New Agenda</h3></a>
							</div>
						</div>
					</div>							
					<div class="media" id="toInsertNewAgenda" ng-show="showMeEntryNewAgenda">
						<div class="media-right">
							<img src="/Gambar/entry1.jpg" class="media-object" style="width:70px;">
						</div>
						<div class="media-body">
							<h4 id="modalJudulTransactionDetail" ng-click="fungsiAgendaActivateFormEntry()">Click me to confirm entry new agenda</h4>
						</div>
					</div>
					<div class="media" id="showMyAgenda" ng-show="showMeMyAgenda">
						<div class="media-right">
							<img src="/Gambar/entry1.jpg" class="media-object" style="width:70px;">
						</div>
						<div class="media-body">
							<h4 ng-click="fungsiAgendaColectMyAgenda()">Click me to colect my agenda</h4>
						</div>
					</div>
					<div class="media" id="showCompanyAgenda" ng-show="showMeCompanyAgenda">
						<div class="media-right">
							<img src="/Gambar/entry1.jpg" class="media-object" style="width:70px;">
						</div>
						<div class="media-body">
							<h4 ng-click="fungsiAgendaColectThisYear()">Click me to colect company's agenda</h4>
						</div>
					</div>	
					<div class="table-responsive">
						<div class="media" ng-show="myAgendaTabel"> 
							<div class="media-right">
								<img src="/Gambar/search-icon-64-22258053.png" class="media-object" style="width:40px;">
							</div>
							<div class="media-body">
								<h4 ng-click="fungsiAgendaShowMeSearchAgenda()">Search By</h4>
							</div>
						</div>
						<p ng-show="showMeSearchBy">Agenda Date <input type="text" ng-model="search.AgendaDate"></p>
						<p ng-show="showMeSearchBy">Timeschedule<input type="text" ng-model="search.Time"></p>
						<p ng-show="showMeSearchBy">Descriptions' <input type="text" ng-model="search.Description"></p>
						<table class="table table-hover" style="background-color:lightgreen" ng-show="myAgendaTabel">
							<thead>
								<tr>
									<th ng-show="false">#</th>
									<th>Date</th>
									<th>Time</th>
									<th>Description</th>
									<th ng-show="false">Attention</th>
									<th ng-show="false">Notes</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="xy in listAgendaData | filter:search">
									<td ng-show="false" ng-click="nomorAgenda=xy.AgendaNumber; fungsiAgendaShowAgendaDetail(nomorAgenda)" data-toggle="modal" data-target="#myShowAgendaModal">{{xy.AgendaNumber}}</td>
									<td ng-click="nomorUrutAgenda=xy.AgendaNumber; nomorAgenda=xy.AgendaNumber; fungsiAgendaShowAgendaDetail(nomorAgenda)" data-toggle="modal" data-target="#myShowAgendaModal">{{xy.AgendaDate | date : "MM/dd/y" }}</td>
									<td ng-click="nomorUrutAgenda=xy.AgendaNumber; nomorAgenda=xy.AgendaNumber; fungsiAgendaShowAgendaDetail(nomorAgenda)" data-toggle="modal" data-target="#myShowAgendaModal">{{xy.Time}}</td>
									<td ng-click="nomorUrutAgenda=xy.AgendaNumber; nomorAgenda=xy.AgendaNumber; fungsiAgendaShowAgendaDetail(nomorAgenda)" data-toggle="modal" data-target="#myShowAgendaModal">{{xy.Description}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal fade" id="myShowAgendaModal" role="dialog">
						<div class="modal-dialog">   
							<div class="modal-content">
								<div class="modal-header" style="padding:20px 50px; background-color:LightGoldenRodYellow">
									<div class="media">
										<div class="media-left">
											<img src="/Gambar/Administration3.jpg" class="media-object" style="width:90px;">
										</div>
										<div class="media-body">
											<h3 class="media-heading">Detail of Agenda #</h3>
											<h3 class="media-heading" id="modalHeading">{{nomorUrutAgenda}}</h3>
										</div>
									</div>
								</div>
								<div class="modal-body" style="padding:10px 50px;" ng-repeat="xx in anAgendaData">
									<div class="form-group">
										<select class="form-control" id="selectorAgenda" ng-model="variabelAgendaDetail" style="background-color:lightgray;">
											<option value="selectMainAgenda" id="myEntryNewAgenda">Main Agenda</option>
											<option value="selectAttentions">Attentions</option>
											<option value="selectTransportation">Transportation</option>
											<option value="selectNotes">Notes</option>
										</select>
									</div>
									<div ng-switch="variabelAgendaDetail">
										<div ng-switch-when="selectMainAgenda">
											<p>Owner: {{xx.Owner}}</p>
											<p>Date: {{xx.AgendaDate | date : "dd.MM.y" }}</p>
											<p>Time: {{xx.Time}}</p>
											<p>Place: {{xx.Place}}</p>
											<p>Room: {{xx.Room}}</p>
											<p>Status: {{xx.Status}}</p>
										</div>
										<div ng-switch-when="selectAttentions">	
											<div class="table-responsive">
												<table class="table table-hover" style="background-color:lightgreen">
													<tbody>
														<tr ng-repeat="xz in listAttentionAgendaData">																
															<td>{{xz.Name}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>	
										<div ng-switch-when="selectTransportation">	
											<p>Car Order: {{xx.CarOrder}}</p>
											<p>Order Status: {{xx.CarOrderStatus}}</p>
											<p>Car: {{xx.Car}}</p>
											<p>Driver: {{xx.Driver}}</p>
										</div>
										<div ng-switch-when="selectNotes">
											<p>Topic/Description: {{xx.Description}}</p>
											<p>Notes:{{xx.Notes}}</p>
										</div>
									</div>	
								</div>
								<div class="modal-footer">
									<button ng-click="fungsiAgendaCloseModal()" type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>	
									<button class="btn pull-left"><span class="glyphicon glyphicon-refresh" style="background-color:lightgray; color:green;"></span> Modify</button>
									<button ng-click="fungsiAgendaDelete()" class="btn pull-left"><span class="glyphicon glyphicon glyphicon-remove" style="background-color:lightgray; color:red;"></span> Delete</button>
								</div>
								<p ng-show="showMeDeleteAgenda">Agenda deleted successfully</p> 
								<p ng-hide="hideMeDeleteAgenda">You can't delete agenda</p>
							</div>	
						</div>
					</div>
					<div class="modal fade" id="myEntryNewAgendaModal" role="dialog">
						<div class="modal-dialog">   
							<div class="modal-content">
								<div class="modal-header" style="padding:10px 50px; background-color:LightGoldenRodYellow">
									<div class="media">
										<div class="media-left">
											<img src="/Gambar/Administration3.jpg" class="media-object" style="width:90px;">
										</div>
										<div class="media-body">
											<h3 class="media-heading">Entry New Agenda</h3>														 
										</div>
									</div>
								</div>
								<div class="modal-body" style="padding:10px 50px;">
									<!--<form action="StuffInsertAgendaDataControl.php" method="post" name="mainAgendaForm" class="form-horizontal" ng-init="bowner=''; bdate=date;">-->
									<form name="mainAgendaForm" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label">Owner</label>
											<div class="col-sm-10">
												 <input name="myInput1" ng-model="bowner" required class="form-control" type="text">
												 <span ng-show="mainAgendaForm.bowner.$touched && mainAgendaForm.bowner.$invalid">The Owner is required.</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Date </label>
											<div class="col-sm-10"> 
												<input name="myInput2" ng-model="bdate" required class="form-control" type="date">
												<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The Date is required.</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Timeschedule</label>
											<div class="col-sm-10">
												<input name="myInput3" ng-model="btime" required class="form-control" type="text">
												<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The Timeschedule is required.</span>
											</div>
										</div>												
										<div class="form-group">
											<label class="col-sm-2 control-label">Place</label>
											<div class="col-sm-10">
												<input name="myInput4" ng-model="bplace" required class="form-control" type="text">
												<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The Timeschedule is required.</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Room</label>
											<div class="col-sm-10">
												<input name="myInput3" ng-model="broom" required class="form-control" type="text">
											</div>
										</div>												
										<div class="form-group">
											<label class="col-sm-2 control-label">Status</label>
											<div class="col-sm-10">
												<input name="myInput4" ng-model="bstatus" required class="form-control" type="text">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Order</label>
											<div class="col-sm-10">
												 <input name="myInput6" ng-model="CarOrder" required class="form-control" type="text">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Order Status</label>
											<div class="col-sm-10"> 
												<input name="myInput7" ng-model="CarOrderStatus" required class="form-control" type="text">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Car</label>
											<div class="col-sm-10">
												<input name="myInput8" ng-model="Car" required class="form-control" type="text">
												<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The Car is required.</span>
											</div>
										</div>												
										<div class="form-group">
											<label class="col-sm-2 control-label">Driver</label>
											<div class="col-sm-10">
												<input name="myInput9" ng-model="Driver" required class="form-control" type="text">
												<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The Driver is required.</span>
											</div>
										</div>									
										<div class="form-group">
											<label class="col-sm-2 control-label">Name</label>
											<div class="col-sm-10">
												 <input name="myInput10" ng-model="Name" required class="form-control" type="text">
												 <span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The Name is required.</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Topic/Description</label>
											<div class="col-sm-10">
												<textarea class="form-control" rows="2" id="topikDeskripsi" ng-model="entryDescription" required></textarea>
												 <span ng-show="myForm.entryDescription.$touched && myForm.entryDescription.$invalid">The Topic/Description is required.</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Notes</label>
											<div class="col-sm-10">
												<textarea class="form-control" rows="10" id="catatanNotes" ng-model="entryNotes" required></textarea>
												<span ng-show="myForm.entryNotes.$touched && myForm.entryNotes.$invalid">The Notes is required.</span>
											</div>
										</div>
										<input type="button" value="Submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid" ng-click="fungsiAgendaEntryNewAgenda()">
									</form>
								</div>	
								<div class="modal-footer">
									<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>																	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-switch-when="selectDocument">
					<div ng-include="'ReadsYsAdministrationBusinessDocument.html'"></div>
				</div>
				<div ng-switch-when="selectInternalCommunication">
					<div ng-include="'StuffAndReferenceForMobileIntercon.html'"></div>
				</div>
				<div ng-switch-when="selectDocumentRequisition">
					<div ng-include="'StuffAndReferenceForMobileRequisition.html'"></div>
				</div>
				<div ng-switch-when="selectSquawk">
					<div ng-include="'StuffAndReferenceForMobileSquawk.html'"></div>
				</div>
				<div ng-switch-when="selectThreat">
					<div ng-include="'StuffAndReferenceForMobileThreat.html'"></div>
				</div>
			</div>	
		</div>
		<div id="panelReference" class="panel panel-info" style="padding:0px; border:none" ng-controller="crManagingControl" ng-init="showMeAllCustomers=false; showMeSelectedCustomer=false; showMeNews=false; showMeSearchOfTheTable=false;">	
			<div class="panel-heading" id="headingPanelReference">
				<h4 class="panel-title">
					<a id="panelTitle" data-toggle="collapse" data-parent="#accordionPanelReference" href="#collapseReference">Information Contex</a>
				</h4>
			</div>
			<div id="collapseReference" class="panel-collapse collapse">
				<div class="form-group">
					<select class="form-control" id="selectorInformationContex" ng-model="variabelSelectorInformationContex" style="background-color:tomato; color:white;">
						<option value="selectViewsOfInsuranceIndustry">Views of Insurance Industry</option>
						<option value="selectCustomer">Customer</option>
						<option value="selectCurrentAndFutureEconomicConditions">Current and future economic conditions</option>
					</select>
				</div>		
				<div ng-switch="variabelSelectorInformationContex">
					<div ng-switch-when="selectViewsOfInsuranceIndustry">
						<div class="carousel-inner">
							<div class="item active">
								<img src="/Gambar/reference collection.jpg" style="width:100%; high:100px; padding:0px;">
								<div class="carousel-caption">
									<a href="#showTheNews"><h4 style="color:yellow" ng-click="fungsiColectNews()">News</h4></a>
									<a href="#showCompanyAgenda"><h4 style="color:yellow" ng-click="fungsiAgendaCompanyAgenda()">Insurance Performance</h4></a>
									<a href="#toInsertNewAgenda"><h4 style="color:yellow" ng-click="fungsiAgendaEntryAgenda()">Insurance Association</h4></a>
									<a href="#toInsertNewAgenda"><h4 style="color:yellow" ng-click="fungsiAgendaEntryAgenda()">Reinsurance Company</h4></a>
								</div>
							</div>
						</div>
						<div id="showTheNews" class="table-responsive" ng-show="showMeNews">
							<p></p>
							<p ng-show="showMeSearchOfTheTable">Filter the Headline News<input type="text" ng-model="test"></p>
							<table class="table table-hover" style="background-color:lightgreen">
								<thead>
									<tr>
										<th><center>Headline News</center></th>
										<th ng-show="false">Code</th>
										<th ng-show="false">Date</th>
										<th ng-show="false">News</th>
										<th ng-show="false">FileOfPicture</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="y in listNewsData | filter:test">
										<td ng-click = "noNews = y.Code; fungsiColectNewsDetails(noNews)" data-toggle="modal" data-target="#myModalNews">{{y.Topic}}</td>
										<td ng-show="false" ng-click = "noNews = y.Code; fungsiColectNewsDetails(noNews)" data-toggle="modal" data-target="#myModalNews">{{y.Code}}</td>
										<td ng-show="false" ng-click = "noNews = y.Code; fungsiColectNewsDetails(noNews)" data-toggle="modal" data-target="#myModalNews">{{y.Date}}</td>
										<td ng-show="false" ng-click = "noNews = y.Code; fungsiColectNewsDetails(noNews)" data-toggle="modal" data-target="#myModalNews">{{y.Details}}</td>
										<td ng-show="false" ng-click = "noNews = y.Code; fungsiColectNewsDetails(noNews)" data-toggle="modal" data-target="#myModalNews">{{y.FileGambar}}</td>										
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal fade" id="myModalNews" role="dialog">
							<div class="modal-dialog">   
								<div class="modal-content">
									<div class="modal-header" style="padding:20px 50px; background-color:LightGoldenRodYellow" ng-repeat="y in detailsNewsData">
										<div class="media">
											<div class="media-right">
												<img src="/Gambar/newspaper.png" class="media-object" style="width:70px;">
											</div>
											<div class="media-body">
												<h4># {{y.Code + ". " + y.Topic}}</h4>
											</div>
										</div>								
									</div>
									<div class="modal-body" ng-repeat="x in detailsNewsData">
										<div class="media">
											<div class="media-right">
												<img ng-src="{{x.FileGambar}}" class="media-object" style="width:100px; height:automatic">
											</div>
											<div class="media-body">
												<p> {{x.Details}}</p>
											</div>
										</div>	
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div ng-switch-when="selectCustomer">
						<div class="carousel-inner">
							<div class="item active">
								<img src="/Gambar/Administration14.jpg" style="width:100%; high:150px; padding:0px;">
								<div class="carousel-caption">
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomerTop5()">Top Ten Bussiness</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomer()">Customer Performance'</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiSearchCustomer()">Search Customer</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomerClaim()">Top Ten Claims</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomerLapse()">Top Ten Lapses</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="">Top Ten Alteration</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomerOthers()">Customer's Other</h4></a>
								</div>
							</div>
						</div>
						<div id="showReferencecustomer" class="table-responsive">
							<div class="table-responsive" ng-show="showMeAllCustomers">
								<select ng-show="showMeSelectedCustomer"><option ng-repeat="xy in listSelectedCustomerData">{{xy.Customer}}</option></select>
								<h4 ng-show="showMeTheTable" id="titleRefCustomer"></h4>
								<p ng-show="showMeSearchOfTheTable">Search <input type="text" ng-model="test"></p>
								<table ng-show="showMeTheTable" class="table table-hover" style="background-color:lightgreen">
									<thead>
										<tr>
											<th>Ceding Company</th>
											<th>Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="y in listCustomerData | filter:test">													
											<td ng-click = "noClient = y.Code; customer=y.Customer; fungsiShowTransactionDetail(noClient,customer)" data-toggle="modal" data-target="#myModal">{{y.Customer}}</td>
											<td ng-click = "noClient = y.Code; customer=y.Customer; fungsiShowTransactionDetail(noClient,customer)" data-toggle="modal" data-target="#myModal">{{y.Transaction | currency: "": 2}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog">   
									<div class="modal-content">
										<div class="modal-header" style="padding:20px 50px; background-color:LightGoldenRodYellow" ng-repeat="x in transactionData">
											<div class="media">
												<div class="media-right">
													<img src="/Gambar/AIA_Logo.jpg" class="media-object" style="width:70px;">
												</div>
												<div class="media-body">
													<h4> {{x.Customer}}</h4>
												</div>
											</div>								
										</div>										
										<div class="form-group">
											<select class="form-control" id="selectorCustomer" ng-model="variabelInfoCustomer" style="background-color:tomato; color:white;">
												<option value="relatedCustomerInput-OutputToCompany">Related Customer Input/Output to Company</option>
												<option value="aboutCustomer">About Customer</option>
												<option value="contactPerson">Contact Person</option>
												<option value="customerCommunication">Relationship - Communication</option>
												<option value="customerCessie">Cessie Ceded by Customer</option>
											</select>
										</div>
										<div ng-switch="variabelInfoCustomer">
											<div ng-switch-when="relatedCustomerInput-OutputToCompany" ng-repeat="xx in totalTransactionData">
												<div class="modal-body" style="padding:40px 50px;">
													<div class="tampilkan" ng-repeat="x in transactionData">
														<p>Total Transaction: {{x.Transaction | currency: "": 2}}</p>
														<p>Total Whole Transaction: {{xx.Transaction | currency: "": 2}}</p>
														<p ng-show="modalBodyTransaction">Share Over Whole Transaction: {{(x.Transaction/xx.Transaction)*100 | currency: "": 2}}%</p>
														<p ng-show="modalBodyNewBusiness">New Business: {{x.NewBusiness | currency: "": 2}}</p>
														<p ng-show="modalBodyNewBusiness">Share Over New Business: {{(x.NewBusiness/xx.NewBusiness)*100 | currency: "": 2}}%</p>
														<p ng-show="modalBodyNewBusiness">Share Over Whole Transaction: {{(x.NewBusiness/xx.Transaction)*100 | currency: "": 2}}%</p>
														<p ng-show="modalBodyRenewal">Renewal: {{x.Renewal | currency: "": 2}}</p>
														<p ng-show="modalBodyRenewal">Share Over Renewal: {{(x.Renewal/xx.Renewal)*100 | currency: "": 2}}%</p>
														<p ng-show="modalBodyRenewal">Share Over Whole Transaction: {{(x.Renewal/xx.Transaction)*100 | currency: "": 2}}%</p>
														<p ng-show="modalAlteration">Alteration: {{x.Alteration | currency: "": 2}}</p>
														<p ng-show="modalAlteration">Share Over Alteration: {{(x.Alteration/xx.Alteration)*100 | currency: "": 2}}%</p>
														<p ng-show="modalAlteration">Share Over Whole Transaction: {{(x.Alteration/xx.Transaction)*100 | currency: "": 2}}%</p>
														<p ng-show="modalClaim">Claim:{{x.Claim | currency: "": 2}}</p>
														<p ng-show="modalClaim">Total Claim:{{xx.Claim | currency: "": 2}}</p>
														<p ng-show="modalClaim">Share Over Claim: {{(x.Claim/xx.Claim)*100 | currency: "": 2}}%</p>
														<p ng-show="modalClaim">Share Over Transaction: {{(x.Claim/x.Transaction)*100 | currency: "": 2}}%</p>
														<p ng-show="modalClaim">Share Over Whole Transaction: {{(x.Claim/xx.Transaction)*100 | currency: "": 2}}%</p>
													</div>
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
												</div>
											</div>
											<div ng-switch-when="aboutCustomer" ng-repeat="z in aCustomerData">
												<div class="modal-body" style="padding:40px 50px;">
													<p>Code: {{z.Classification}}</p>
													<p>Identity#: {{z.ID}}</p>
													<p>Division Code: {{z.DivisionCode}}</p>
													<p>Classification: {{z.Classification}}</p>
													<p>Address: {{z.Address}}</p>
													<p>Building: {{z.Building}}</p>
													<p>ZIP: {{z.ZIP}}</p>
													<p>City: {{z.City}}</p>
													<p>Province: {{z.Province}}</p>
													<p>State: {{z.State}}</p>
													<p>     : {{z.Overseas}}</p>
													<p>     : {{z.Asean}}</p>
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
												</div>
											</div>
											<div ng-switch-when="contactPerson">
												<div class="modal-header" style="padding:20px 50px;">
													<p>Search <input type="text" ng-model="contactP"></p>
													<table class="table table-hover" style="background-color:lightgreen">
														<thead>
															<tr>
																<th>CP Full Name</th>
																<th ng-show="false">CP#</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="k in listCPData | filter:contactP">													
																<td ng-click = "noCP = k.ID; fungsiShowCPDetail(noCP)">{{k.FirstName + " " + k.LastName}}</td>
																<td ng-click = "noCP = k.ID; fungsiShowCPDetail(noCP)" ng-show="false">{{k.ID}}</td>
															</tr>
														</tbody>
													</table>							
												</div>
												<div class="modal-body">
													<div class="form-group">
														<select class="form-control" id="selectorContactPerson" ng-model="variabelContactPerson">
															<option value="cpPersonalData">Personal Data</option>
															<option value="cpExperiences">Experiences</option>
															<option value="cpOrganization">Organization</option>
															<option value="cpOtherInfon">Other Info</option>
														</select>
													</div>
													<div ng-switch="variabelContactPerson">
														<div ng-switch-when="cpPersonalData">
															<div class="tampilan"  ng-repeat="w in aCPData">
																<p>ID#: {{w.ID}}</p>
																<p>Gender: {{w.Gender}}</p>
																<p>Date of Birth: {{w.DOB | date : "dd.MM.y" }}</p>
																<p>Place of Birth: {{w.POB}}</p>
																<p>Marital Status: {{w.MaritalStatus}}</p>
																<p>Religion: {{w.Religion}}</p>
																<p>Address: {{w.Address}}</p>
																<p>Province: {{w.Province}}</p>
																<p>State: {{w.State}}</p>
																<p>Email: {{w.Email}}</p>
																<p>Phone: {{w.Phone}}</p>
																<p>HP     : {{w.HP}}</p>
																<p>Region: {{w.Region}}</p>
																<p>Notes: {{w.Designation}}</p>
															</div>
														</div>
														<div ng-switch-when="cpExperiences">
															<div class="tampilan"  ng-repeat="w in aCPData">
																<p>ID#: {{w.ID}}</p>
																<p>Job: {{w.Job}}</p>
																<p>: {{w.Job1}}</p>
																<p>: {{w.Job2}}</p>
																<p>: {{w.Job3}}</p>
																<p>Profesional Reputation: {{w.ProfesionalReputation}}</p>
															</div>
														</div>
														<div ng-switch-when="cpOrganization">
															<div class="tampilan"  ng-repeat="w in aCPData">
																<p>ID#: {{w.ID}}</p>
																<p>Organization: {{w.Organization1}}</p>
																<p>: {{w.Organization2}}</p>
																<p>: {{w.Organization3}}</p>
																<p>Roles{{w.RoleOrganization1}}</p>
																<p>: {{w.RoleOrganization2}}</p>
																<p>: {{w.RoleOrganization3}}</p>
															</div>
														</div>
														<div ng-switch-when="cpOtherInfon" ng-repeat="w in aContactPersonData">
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
												</div>
											</div>
											<div ng-switch-when="customerCommunication" ng-repeat="z in aCustomerData">											
												<div class="modal-body" style="padding:40px 50px;">
													<p>Telephone: {{z.Telephone1}}</p>
													<p>         : {{z.Telephone2}}</p>
													<p>         : {{z.Telephone3}}</p>
													<p>Faxes: {{z.Faxes1}}</p>
													<p>     : {{z.Faxes2}}</p>
													<p>     : {{z.Faxes3}}</p>
													<p>Email: {{z.Email}}</p>
													<p>Web: {{z.Web}}</p>
													<p>Location: {{z.Location}}</p>
													<p>Region: {{z.Region}}</p>
													<p>Status: {{z.Status}}</p>
													<p>Competitor: {{z.Competitor}}</p>
													<p>Problems: {{z.Problems}}</p>
													<p>History: {{z.History}}</p>
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
												</div>
											</div>
											<div ng-switch-when="customerCessie">
												<p>Filter <input type="text" ng-model="insuredFullName"></p>
												<div class="table-responsive panel-scroll" style="background-color:lightgreen;">
													<table class="table table-hover">
														<thead>
															<tr>
																<th ng-click="fungsiColectCustomerCessie(nomorClient)"><a>Reinsurance#</a></th>
																<th>Insured-Full Name</th>
																<th ng-show="false">SSN#</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="cx in listCessieData | filter:insuredFullName">
																<td ng-click="reasNumber=cx.ReinsuranceNumber; fungsiShowDetailReinsurancePolicy(reasNumber)" data-toggle="modal" data-target="#myDetailReinsurancePolicyModal">{{cx.ReinsuranceNumber}}</td>
																<td ng-click="reasNumber=cx.ReinsuranceNumber; fungsiShowDetailReinsurancePolicy(reasNumber)" data-toggle="modal" data-target="#myDetailReinsurancePolicyModal">{{cx.FirstName + " " + cx.LastName}}</td>
																<td  ng-show="false" ng-click="noClaim=cx.ClaimID; fungsiShowDetailMasterClaim(noClaim)" data-toggle="modal" data-target="#myClaimDetailModal">{{cx.SocialSecurityNumber}}</td>
															</tr>		
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>  
								</div>
							</div>
							<div class="modal fade" id="myDetailReinsurancePolicyModal" role="dialog">
								<div class="modal-dialog" style="position:fixed; top:100px; left:600px; width:500px;">   
									<div class="modal-content">
										<div class="modal-header" style="padding:20px;"> 
											<div class="media">
												<div class="media-left">
													<img src="/Gambar/Administration.jpg" class="media-object" style="width:90px;">
												</div>
												<div class="media-body">
													<h3 class="media-heading">Master Policy Detail of Reinsurance#</h3>
													<h3 class="media-heading" id="modalHeading">{{cx.ReinsuranceNumber}}</h3>
												</div>
											</div>						
										</div>
										<div class="modal-body" style="padding:0px;">
											<iframe src="MasterPolicyView.html" style="border:none; height: 500px; width:100%; border:hidden;"></iframe>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span> Close</button>										
										</div>
									</div>  
								</div>
							</div>
						</div>
					</div>	
					<div ng-switch-when="selectCurrentAndFutureEconomicConditions">
						<div class="carousel-inner">
							<div class="item active">
								<img src="/Gambar/Decision.jpg" style="width:100%; high:150px; padding:0px;">
								<div class="carousel-caption">
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiCurrentAndFutureEconomicActivateModalGlobalEconomics()">Global Economics</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomer()">Economics Growth</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiSearchCustomer()">Balance Sheet of Indonesia's Payment</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomerClaim()">Exchange Rates</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomerLapse()">Inflation</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="">Financial System</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomerOthers()">Future Prospect and Risk</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="">Policy Mix</h4></a>
									<a href="#showReferencecustomer"><h4 style="color:yellow" ng-click="fungsiColectCustomerOthers()">Policy and Focus</h4></a>
								</div>
							</div>
						</div>
						<div ng-repeat="y in globalEconomicsData">
							<p>{{y.CAFE}}</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>